.real-time-gate-tracking-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    @media screen and (max-width: 840px){
        flex-direction: column;
        justify-self: flex-start;
        align-items: flex-start !important;
    }
}

.real-time-gate-tracking-body{
    display: flex;
    margin-bottom: 8px;
    gap: 16px;

    @media screen and (max-width: 840px){
        flex-direction: column;
    }
}

.real-time-gate-tracking-table-wrapper {
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  overflow-x: auto;
  margin-top: 36px;
  height: calc(100vh - 300px);
  overflow-y: auto;

  @media screen and (max-width: 840px){
    margin-top: 24px;
    height: calc(100vh - 400px);
  }
}

.real-time-gate-tracking-table-wrapper-captiveIR{
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  overflow-x: auto;
  margin-top: 36px;
  height: calc(100% - 20%);
  overflow-y: auto;

  @media screen and (max-width: 840px){
    margin-top: 24px;
    height: calc(100% - 20%);
  }
}

.real-time-gate-tracking-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.real-time-gate-tracking-table th {
  background-color: #f8fafc;
  padding: 0.75rem 1rem;
  text-align: left;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #4a5568;
  border-bottom: 1px solid #e2e8f0;
  position: sticky;
  top: 0;
  z-index: 1; /* Ensure the header stays above the table rows */
}

.real-time-gate-tracking-table td {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #2d3748;
  border-bottom: 1px solid #e2e8f0;
}

.real-time-gate-tracking-table #real-time-gate-tracking-tr {
  transition: all 0.3s ease;
}

.real-time-gate-tracking-table #real-time-gate-tracking-tr:hover {
  background-color: #f7fafc;
  cursor: pointer;
}

.real-time-gate-tracking-table #real-time-gate-tracking-tr:last-child td {
  border-bottom: none;
}

.real-time-gate-tracking-id-column {
  width: 100px;
}

.real-time-gate-tracking-left-align {
  text-align: left;
}

.real-time-gate-tracking-download-icon{
  text-align: right;
  width: 40px;
}

.real-time-gate-tracking-font-medium {
  font-weight: 500;
}

.real-time-gate-tracking-table .grand-total-row {
  background-color: #f8fafc;
  font-weight: bold;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.real-time-gate-tracking-captiveIR-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
  width: 100%;
  border-radius: 10px;
  gap: 16px;
}

.real-time-gate-tracking-captiveIR-piechart-container{
  flex: 1;
  margin-top: 42px;
}