.real-time-gate-tracking-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    @media screen and (max-width: 840px){
        flex-direction: column;
        justify-self: flex-start;
        align-items: flex-start !important;
    }
}

.real-time-gate-tracking-body{
    display: flex;
    margin-bottom: 8px;
    gap: 16px;

    @media screen and (max-width: 840px){
        flex-direction: column;
    }
}
.custom-tooltip{
    background-color: white;
    border-radius: 4px;
    padding: 8px;
    font-size: 12px;
    font-weight: 400;
    color: #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}