.tracking-status-container {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
}

.tracking-status-header {
  font-size: 16px;
  font-weight: bold;
}

.status-container {
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.status-wrapper {
  padding: 8px 0 12px 0;
}

.status-wrapper:first-child { 
  width: 100%;
  border: 2px solid #334ffc0d;
  border-radius: 8px;
}

.status-wrapper:nth-child(2) {
  width: 70%;
  border: 2px solid #2bc4281a;
  border-radius: 8px;
} 

.status-wrapper:nth-child(3) {
  width: 70%;
  border: 2px solid #ee4d371a;
  border-radius: 8px;
}

.status-wrapper:hover:first-child {
  background: #334ffc0d;
  border-radius: 8px;
  cursor: pointer;
}

.status-wrapper:hover:nth-child(2) {
  background: #2bc4281a;
  border-radius: 8px;
  cursor: pointer;
}

.status-wrapper:hover:nth-child(3) {
  background: #ee4d371a;
  border-radius: 8px;
  cursor: pointer;
} 

.hover-infobox {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 40px;
  width: 58px;
  border-radius: 6px;
  background: black;
  font-size: 10px;
  top: 110%;
  padding-bottom: 4px;
  justify-content: space-evenly;
  height: 42px;
  z-index: 999;
}

.breakdown {
  display: flex;
  flex-direction: row;
  width: auto;
  background: #ee4d37;
  z-index: 900;
}

.scheme {
  display: flex;
}

.load-analysis-wrapper {
  display: flex;
}

.load-analysis-with-load-tracking {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  padding: 4px 40px 4px 12px;
  margin-right: 4px;
  border-right: 1px solid #dfe3eb;
  cursor: pointer;
}

.load-analysis-without-load-tracking {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  margin-left: 24px;
  padding: 4px 40px 4px 16px;
  cursor: pointer;
}

.load-count {
  color: #42454e;
}

.load-analysis-with-load-tracking:hover .load-count {
  color: #334ffc;
}

.load-analysis-without-load-tracking:hover .load-count {
  color: #bc4a28;
}

.load-analysis-with-load-tracking .load-count-trackingWithLoad {
  color: #334ffc;
  font-weight: bold;
}

.load-analysis-without-load-tracking .load-count-trackingWithoutLoad {
  color: #bc4a28;
  font-weight: bold;
}

.load-label {
  color: #71747a;
  font-size: 10px;
}

.load-label-trackingWithLoad {
  color: #71747a;
  font-size: 10px;
}

.load-label-trackingWithoutLoad {
  color: #71747a;
  font-size: 10px;
}

.load-analysis-with-load-tracking .load-label-trackingWithLoad {
  color: #334ffc;
  font-size: 10px;
}

.load-analysis-without-load-tracking .load-label-trackingWithoutLoad {
  color: #bc4a28;
  font-size: 10px;
}

.scheme-name {
  color: #71747a;
  font-size: 10px;
}

.scheme-name-gpwis {
  color: #71747a;
  font-size: 10px;
}

.scheme-name-sfto {
  color: #71747a;
  font-size: 10px;
}

.scheme-name-bfnv {
  color: #71747a;
  font-size: 10px;
}

.scheme-container {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
  padding: 4px 28px 4px 18px;
  border-right: 1px solid #dfe3eb;
  position: relative;
}

.scheme-container:last-child {
  border-right: none;
}

.scheme-container:first-child {
  padding-left: 10px;
  margin-left: 16px;
}

.scheme-container:hover .hover-infobox {
  display: flex;
}

.scheme-container:hover:first-child .hover-infobox {
  background: #18be8a;
}

.scheme-container:hover:nth-child(2) .hover-infobox {
  background: #334ffc;
}

.scheme-container:hover:nth-child(3) .hover-infobox {
  background: #bc4a28;
}

.total-rakes-split-count {
  color: #42454e;
}

.scheme-container:hover:first-child .total-rakes-split-count {
  color: #18be8a;
}

.scheme-container:hover:nth-child(2) .total-rakes-split-count {
  color: #334ffc;
}
.scheme-container:hover:nth-child(3) .total-rakes-split-count {
  color: #bc4a28;
}

.scheme-container:first-child .total-rakes-split-count-sfto {
  color: #18be8a;
  font-weight: bold;
}

.scheme-container:nth-child(2) .total-rakes-split-count-bfnv {
  color: #334ffc; 
  font-weight: bold;
}

.scheme-container:nth-child(3) .total-rakes-split-count-gpwis {
  color: #bc4a28;
  font-weight: bold;
}

.scheme-container:first-child .scheme-name-sfto {
  color: #18be8a;
  font-size: 10px;
  font-weight: 500;
}

.scheme-container:nth-child(2) .scheme-name-bfnv {
  color: #334ffc; 
  font-size: 10px;
  font-weight: 500;
}

.scheme-container:nth-child(3) .scheme-name-gpwis {
  color: #bc4a28;
  font-size: 10px;
  font-weight: 500;
}

.no-of-wagons {
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 40px;
  justify-content: left;
}

.wagons-text {
  color: white;
  font-size: 10px;
}

.non-tracking-data-with-load {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  padding: 4px 40px 4px 12px;
  margin-right: 4px;
  border-right: 1px solid #dfe3eb;
  cursor: pointer;
}

.non-tracking-data-without-load {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  margin-left: 24px;
  padding: 4px 40px 4px 16px;
  cursor: pointer;
}

.load-count {
  color: #42454e;
}

.non-tracking-data-with-load:hover .load-count {
  color: #18be8a;
}

.non-tracking-data-without-load:hover .load-count {
  color: #334ffc;
}

.non-tracking-data-with-load .load-count-nonTrackingWithLoad {
  color: #18be8a;
  font-weight: bold;
}

.non-tracking-data-without-load .load-count-nonTrackingWithoutLoad {
  color: #334ffc;
  font-weight: bold;
}

.load-label {
  color: #71747a;
  font-size: 10px;
}

.load-label-nonTrackingWithLoad {
  color: #71747a;
  font-size: 10px;
}

.load-label-nonTrackingWithoutLoad {
  color: #71747a;
  font-size: 10px;
}

.non-tracking-data-with-load .load-label-nonTrackingWithLoad {
  color: #18be8a;
  font-size: 10px;
}

.non-tracking-data-without-load .load-label-nonTrackingWithoutLoad {
  color: #334ffc;
  font-size: 10px;
}

.non-tracking-breakdown-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}

.non-tracking-breakdown-val {
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.non-tracking-breakdown-hours {
  color: white;
  font-size: 10px;
  width: 38px;
  opacity: 0.87;
}

.link-wrapper a {
  text-decoration: none;
}

.tracking-status-head{
  display: flex;
  justify-content: space-between;
}

.map-view-btn{
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #F8F8F8;
  border-radius: 4px;
  padding: 6px 6px 6px 10px;
  color: #131722;
  transition: all ease 0.3s;
  margin-right: 8px;
}

.map-view-btn:hover{
  background-color: #2E2D32;
  color: #FFFFFF;
  cursor: pointer;
}

.map-view-btn-header{
  font-size: 10px;
  margin-left: 4px;
}

@media screen and (max-width: 1160px) {
  .tracking-status-head{
    justify-content: flex-start;
  }

  .map-view-btn{
    margin-right: 0px;
    margin-left: 16px;
  }
}

@media screen and (max-width: 950px){
  .status-container {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }  
}

@media screen and (max-width: 850px){
  .status-container {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }  
}

@media screen and (max-width: 768px){
  .status-container {
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px){
  .tracking-status-head{
    justify-content: space-between;
  }

  .map-view-btn{
    margin-right: 16px;
    margin-left: 0px;
  }
}
