.bottom_bar{
    width: 100%;
    background-color: #f0f3f9;
    position: fixed;
    bottom: 0;
    height: 65px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
}

.content_container{
    width: calc(100vw - 70px);
    height: calc(100vh - 56px);
    padding: 8px 24px 24px 24px ;
    
}

.adjustMargin{
    margin-top: 56px;
    margin-left: 70px;
   
}
.adjustMarginMobile {
    width: 100vw;
    height: calc(100vh - 56px - 54px);
}
.invite_button{
    background-color: #3352FF1F;
    color: #3352FF;
    width: 101px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
.invite_button:hover {
    background-color: #3352FF;
    color: #fff;
}

.invite_button:active {
    top: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #2a41cc;
    transition: all;
}
.modal_background{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    top:0;
    left: 0;
    z-index: 1501;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_inner_box{
   
}
.invite_box_carriers{

}
.agent_already_present{

}
.invite_container{
    background-color: white;
    min-width: 480px !important;
    min-height: 426px !important;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 24px;
}
.close_modal_button{
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -45px;
    right: 0;
    cursor: pointer;
}

.invite-heading {
    color: #131722;
    font-weight: 500;
    font-size: 20px;
}

.form-container {
    background-color: white;
    padding-top: 1.5rem;
    border-radius: 8px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    width: 100%;
    max-width: 400px;
    min-width: 200px;
  }
  
  @media (max-width: 480px) {
    .form-container {
      padding: 1.5rem;
    }
  }
  
  .form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }
  
  .form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.8rem;
    transition: border-color 0.3s;
  }
  
  .form-control:focus {
    outline: none;
    /* border-color: #007bff; */
  }
  
  .form-label {
    position: absolute;
    left: 0.75rem;
    top: 0.75rem;
    color: #6c757d;
    transition: all 0.3s;
    pointer-events: none;
    font-size: 0.7rem;
    font-weight: 500;
  }
  
  .form-control:focus ~ .form-label,
  .form-control:not(:placeholder-shown) ~ .form-label {
    top: -0.5rem;
    left: 0.5rem;
    font-size: 0.75rem;
    color: #007bff;
    background-color: white;
    padding: 0 0.25rem;
  }

.invite_button_send{
    background-color: #2962Ff;
    color: #fff;
    width: 87px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    cursor: pointer;
}
.addAgentBox{
    position: absolute;
    background-color: white;
    width:35vw;
    height: 25vh;
    left:-35%;
    top:40%;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 1.5rem;
}

.invite-heading-agent{
    color: #42454E;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0.5rem;
}

.unitStation{
    font-size: small;
}
.input_station_box{
    width: 100%;
    background-color: #e5e9ed;
    border-bottom: 0.5px solid black;
    cursor: pointer;
    padding: 2px;
}
.cancel_button_invite{
    background-color: #b32e2e;
    color: #fff;
    width: 87px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}
.cancel_button_invite:active{
    background-color: #951919;
}
.add_agent_button{
    background-color: #2962Ff;
    color: #fff;
    width: 87px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}
.add_agent_button:active{
    background-color: #1a4ed9;
}
.invite-button-container{
    position: absolute;
    bottom: 24px;
    display: flex;
   justify-content: left;
   transition: all 0.3s ease-in-out;
}
.invite-button-container:hover{
    scale: 1.05;
}
.divider{
    background-color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 10px;
    padding-block: 10px;
}
.search_invite{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search_container{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 12px;
    width: 472px;
    border: 1px solid #DFE3EB;
    border-radius: 8px;
    height: 40px;
}
.dropDown_agentName{
    background-color: #F0F3F9;
    width: 121px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 12px; */
    gap:11px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top: 1px solid #DFE3EB;
    border-bottom: 1px solid #DFE3EB;
    border-right: 1px solid #DFE3EB;  
}
.search-input-agent{
    margin-left: 16px;
    border: none;
    width: 200px;
    outline: none;
    font-size: 14px;
}
.inputBox{
    width: 100%;
    height: 36px;
    border: 1px solid #E9E9EB;
    border-radius: 6px;
    margin-top: 8px;
    margin-bottom: 20px;
    outline: none;
    font-size: 16px;
    color: #42454E;
    padding-inline: 16px;
}
.lable_name{
    font-size: 12px;
    color: #42454E;
}
.handlingAgent_title_container{
    display: flex;
}
.handlingAgent_heading{
    padding-block: 10px;
    padding-inline: 10px;
    font-size: 12px;
    align-content: flex-end;
    cursor: pointer;
}
.handlingAgent_title{
    border-bottom: 1px solid #DFE3EB;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.active{
    border-bottom: 1px solid #2050d5;
    color: #2962Ff;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    bottom: -1px;
}
.refresh_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6c757d;
    cursor: pointer;   
}
.reload{
    animation: spinhandle 1s linear ;
}
@keyframes spinhandle {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .search_invite1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
}