.loactionClass{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.blue-square-station{
    position: relative;
    background-color: #3352FF;
    border-radius: 4px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    
}
.action_header{
    width: 75px !important;
}
.action_items_box_StationManagement{
    width: 150px;
    font-size: 12px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
}
.action_items_box_StationManagement > div{
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    color: #484A57;
}
.action_items_box_StationManagement > div:hover{
    background-color: #E9E9EB;
}