.close-button-rake-charges {
    position: absolute;
    top: -50px;
    right: 0px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1.2s ease;
  }
  
  .close-button-rake-charges:hover {
    transform: rotate(180deg);
  }

  .rake-charges-popup{
    background-color: white;
  }

  .fnrs-more-text {
    position: relative;
    cursor: pointer;
  }
  
  .fnrs-list-popup {
    display: none; /* Initially hidden */
    position: absolute;
    background: #474A57;
    border: 1px solid #474A57;
    color: white;
    border-radius: 4px;
    padding: 5px;
    z-index: 9999; /* Ensure it's on top */
    box-shadow: 0 2px 8px rgba(0, 0,0, 0.1); /* Add shadow for depth */
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition */
    opacity: 0; /* Start with opacity 0 */
    visibility: hidden; /* Start as hidden */
    top:30px;
    left: 58px;
  }
  
  .fnrs-more-text:hover .fnrs-list-popup {
    display: flex;
    opacity: 1; /* Fade in */
    visibility: visible; /* Make it visible */
  }

  .header-fnr-dc-charges{
    width: 70px !important;
  }

  .header-rr-dc-charges{
    width: 70px !important;
    padding-inline: 100px !important;
  }
  .addtionalWidth{
    padding-inline: 90px !important;
  }