.container {
    padding: 2rem;
    background: #FFFFFF;
    min-height: 90vh;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.checkboxContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkboxContainer input[type="checkbox"] {
    display: none; /* Hide the default checkbox */
}

.checkboxCustom {
    width: 24px;
    height: 24px;
    border: 2px solid #007BFF;
    border-radius: 4px;
    position: relative;
    margin-right: 6px;
    cursor: pointer;
}

.checkboxCustom {
    transition: background-color 0.3s, border-color 0.3s;
}

.checkboxCustom.checked {
    background-color: #007BFF;
    border-color: #0056b3;
}

.checkboxCustom.checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkboxLabel{
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    font-family: 'Inter', sans-serif;
    white-space: nowrap;
}

@media (max-width: 767px) {
    .container {
        padding: 1rem;
    }
}