.input_fnr_reload{
   display: flex;
   /* background-color:darksalmon; */
   position:absolute;
   justify-content: right;
   right: 24px;
   top:10px
}

.reload{
    /* background-color: wheat; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}
.loading {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

.fnr_input{
    height: 40px;
    width: 360px;
    /* background-color: cornflowerblue; */
}

.outbound_inbound{
    display: flex;
    height: 30px;
    /* background-color:antiquewhite; */
    border-bottom-color: #DFE3EB;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 37px;
}


.filters{
margin-top: 15px;
}

.orderContainer{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    font-family: "Inter", sans-serif !important;
}

.mobile_outbound_inbound{
    display: flex;
    justify-content: space-evenly;
    height: 33px;
    /* background-color:antiquewhite; */
    border-bottom-color: #DFE3EB;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    
}

.mobile_outbound{
    align-content: center;
    flex:1;
    text-align: center;
    color: #2962FF;
    border-bottom: 2px solid #2962FF;
}
.mobile_inbound{
    align-content: center;
    flex:1;
    text-align: center;
    color: #7C7E8C;
}

.bottom_bar{
    width: 100%;
    background-color: #f0f3f9;
    position: fixed;
    bottom: 0;
    height: 65px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
    
}

.outbound_inner{
    width: 99px;
    text-align: center;
    align-content: center;
    cursor: pointer;
    color: #7C7E8C;
}

.outbound_inner:hover{
    background-color: #cedafc;
    border-radius: 4px 4px 0 0;
    transition: all 0.3s ease-in-out;
}

.selected_bound{
    color: #2962FF;
    height: 20px;
    border-bottom: 1.5px solid #2962FF;
    font-weight: 500;
}

