.input_fnr_reload{
    position: relative;
}

.reload {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.loading {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.fnr_input {
    height: 40px;
    width: 360px;
}

.outbound_inbound {
    display: flex;
}

.filters {
    max-width: 100%;
    display: flex; /* Ensures the children are laid out in a row */
    overflow-x: auto; /* Enables horizontal scrolling */
    white-space: nowrap; /* Prevents the children from wrapping to the next line */
    -webkit-overflow-scrolling: touch; /* Adds smooth scrolling for touch devices */
    box-sizing: border-box; /* Ensures padding is included in the width */
}
.filters::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit-based browsers like Chrome, Safari */
}

.orderContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    font-family: "Inter", sans-serif !important;
}

.mobile_outbound_inbound {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    padding-inline: 12px;
    gap: 50px;
}

.mobile_outbound {
    align-content: center;
    flex: 1;
    text-align: center;
    color: #2962FF;
    border-bottom: 2px solid #2962FF;
}

.mobile_inbound {
    align-content: center;
    flex: 1;
    text-align: center;
    color: #7C7E8C;
}

.bottom_bar {
    width: 100%;
    background-color: #f0f3f9;
    position: fixed;
    bottom: 0;
    height: 65px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;

}

.outbound_inner {
    width: 99px;
    text-align: center;
    align-content: center;
    cursor: pointer;
    color: #7C7E8C;
}

.outbound_inner:hover {
    background-color: #cedafc;
    border-radius: 4px 4px 0 0;
    transition: all 0.3s ease-in-out;
}

.selected_bound {
    color: #2962FF;
    height: 45px;
    border-bottom: 1.5px solid #2962FF;
    font-weight: 500;
}

.underLine{
    border-bottom: 1.5px solid #2962FF;
    width: 100%;
}

.inboundContainer {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: calc(100vh - 136px);
    width: 100%;
    /* font-size: 42px; */
    font-family: 'Inter', sans-serif;
    /* font-weight: 600;
    color: #42454E;
    animation: fadeInOut 2s infinite; */
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.75;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

.outbound_inbound_ageing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #DFE3EB;
}

.ageing_reload {
    display: flex;
    align-items: center;
    gap: 36px;
}

.Ageing_dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #2962FF;
}
.Ageing{
    display: flex;
    gap:4px;
}
.ageing_group{
    display: flex;
    gap:12px;
}

.filters_aging{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    flex-direction: row;
    @media screen and (max-width: 1200px){
        flex-direction: column;
        align-items: flex-start;
        gap:15px
    }
}
.display_status_inner_box{
    height: 48px;
    min-width: 64px;
    border: 1px solid #DFE3EB;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.display_status{
    display: flex;
    flex-direction: row;
    gap: 16px;
    max-width: 100%;
    overflow-x: scroll;
}
.display_status::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit-based browsers like Chrome, Safari */
}
#uploadFile_refreash{
    display: flex;
    align-items: center;
    gap:20px;
}
#uploadButton{
    width: 130px;
    height: 32px;
    text-align: center;
    align-content: center;
    background-color: #3351FF1F;
    border-radius: 4px;
    color: #3351FF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}