@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


.uplaod-modal{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.uplaod-modal .MuiDialog-container .MuiDialog-paper{
    border-radius: 12px !important;
    max-width: 1080px !important;
    min-height: 600px !important;
    overflow-y: unset;
  }

 .upload-annexure .close-btn {
    position: absolute;
  top: -40px;
  right: -2px;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.5s ease-in-out;
  }

  .upload-annexure .close-btn:hover {
    transform: rotate(180deg);
  }

 .table-wrapper .table-cont::-webkit-scrollbar {
    display: none;
  }

  .table-wrapper .table-cont {
    scrollbar-width: none;
  }




.upload-annexure {
    padding:12px;
    padding-top:20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 14px;
    width: 900px;
    height: 600px;
  }
  
  .upload-annexure .fnr-no {
  }
  
  .upload-annexure .add-wrapper {
    height: 60px;
    width: 100%;
    background: #DFE3EB;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding:10px;
    justify-content: space-between;
  }
  
  .upload-annexure  .table-wrapper {
      width: 100%;
      height:430px;
      background: #DFE3EB;
      border-radius: 8px;
      padding:10px;
  }
  
  .table-wrapper .dot {
      height:5px;
      width:5px;
      background:#ffffff;
      border-radius: 50%;
  }
  
  .table-wrapper .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #20114d;
      height: 28px;
      border: none;
      border-radius: 4px;
      width: 28px;
      cursor: pointer;
  }
  
  .table-wrapper .action-drop {
    position: absolute;
    top: 30px;
    width:120px;
    z-index:1;
    right: calc(100% - 28px);
    padding:2px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background: whitesmoke;
  }
  
  .action-drop .actions-row {
      padding:2px;
      font-size: 12px;
      cursor: pointer;
      display: flex;
      align-items: center;
      column-gap: 2px;
  }
  
  .action-drop .actions-row:hover {
    background: #E9E9EB;
    padding:2px;
  }
  
  
  
  .custom-select {
      position: relative;
      width: 164px;
      font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .custom-select .select-input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
      height: 36px;
      border: 1px solid #DFE3EB;
      cursor: pointer;
      user-select: none;
      border-radius: 6px;
      background: white;
      color: #42454E;
      font-size: 12px;
    }


    .number-index {
      padding: 6px;
      height: 34px;
      width: 70px;
      border-radius: 4px;
      font-size: 12px;
      border: none;
      outline: none;
    }
  
    .custom-select .select-input input {
      color: #42454E;
      font-size: 12px;
      border: none;
      outline: none;
      padding: 0 4px;
      width: 100%;
    }
    
    .custom-select .select-input .selected-options {
      width: 150px;
      padding-left: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    
    .custom-select .select-input .arrow {
      transition: transform 0.3s ease;
    }
    
    .custom-select .select-input .arrow.open {
      transform: rotate(180deg);
    }
    
    .custom-select .select-dropdown {
      position: absolute;
      top: 115%;
      left: 0;
      width: 100%;
      max-height: 412px;
      overflow-y: auto;
      border: 1px solid #ccc;
      background: #fff;
      z-index: 101;
      font-size:14px;
      border-radius: 8px;
      box-shadow: 0px -2px 4px #42454E14;
      overflow-x: hidden;
    }
    
    .custom-select .select-dropdown .select-header {
      padding: 5px;
      position: sticky;
      top: 0;
      background: white;
    }
    
    .custom-select .select-dropdown .select-options {
      font-size: 12px;
    }
    
    .custom-select .select-dropdown .select-options .option {
      padding: 5px;
    }
    
    .custom-select .select-dropdown .select-options .option label {
      display: flex;
      align-items: center;
    }
  
    .add-wrapper .upload-btn {
      background: #20114d;
      padding:6px;
      border-radius: 6px;
      height: 30px;
      width: 80px;
      color: white;
      cursor: pointer;
    }
    
  