#scrollAreaForAssignToMill{
    overflow-y: scroll;
    max-height: 375px;
    scroll-behavior: smooth;
}
#wagonContainerForAssignToMill{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px 48px;
    min-height: 225px;
}
.wagonAssignToMillConatiner{
    height: 50px;
    width: 145px;
    /* background-color: burlyswood; */
    display: flex;
    gap:8px
}
.wagonsAssignToMillImageSelectorConatainer{
    height: 100%;
    width: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}
.wagonsAssignToMillImageSelector{
    height: 40px;
    width: 48px;
    border-radius: 6px;
    border: 1px solid #B7BAC3;
    background-color: #F8F9FD;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wagonsAssigntoMillCheckedIcon{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    position: absolute;
    top:3px;
    left: 1px;
}
#wagonsAssignToMillTextArea{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    position: relative;
    width: 80px;
}
#wagonsAssignToMillAssignedPlantName{
    font-size: 9px;
    font-weight: 400;
    color: #3D4852;
    text-wrap: nowrap;
    overflow-x: visible;
}
#wagonsAssignToMillNumber{
    font-size: 12px;
    font-weight: 600;
}
#wagonsAssignToMilltype{
    font-size: 10px;
    font-weight: 400;
}

#plantSelectorContainer{
    /* background-color: #B7BAC3; */
    margin-top: 10px;
    display: flex;
    gap:16px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}
#plantMillSelector{
    border: 1px solid #B7BAC3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    flex-wrap: wrap;
    height: 36px;
    border-radius: 8px;
    padding-inline: 10px;
    gap : 4px;
    cursor: pointer;
}
#plantRadioButton{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid #3D4852;
    display: flex;
    justify-content: center;
    align-items: center;   
}
#plantRadioButtonInside{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
}
#dividerForAssignToMill{
    width: 100%;
    box-shadow: 0 -4px 6px -2px rgba(0, 0, 0, 0.1);
    height: 10px;
}

/* Add indent modal styles */
.add-indent-number-modal-main{
    width: 46vw;
    height: 56vh;
    background-color: #fff;
    border-radius: 16px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;

    @media screen and (max-width: 1024px){
        width: 70vw;
        height: 36vh;
    }

    @media screen and (max-width: 882px){
        width: 70vw;
        height: 42vh;
    }

    @media screen and (max-width: 768px){
        width: 70vw;
        height: 50vh;
    }
}