@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Parent Modal Styles */
.dialog-container {
  position: relative;
  display: inline-block;
  border-radius: 12px !important;
  overflow-y: unset;
  margin-top: 6px;
  width: 100%;
  padding-right: 24px;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.lower-conatiner{
  padding: 12px;
  /* border-radius: 0 0 12px 12px; */

  .MuiPaper-root{
    box-shadow: none;
    background-color: #fff;
    overflow: auto;
    border-radius: 12px;
    border: 1px solid #E9E9EB;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }
  
  .MuiPaper-root::-webkit-scrollbar {
    width: 0px;
  }

  .table-parent-container{
    min-width: 650px !important;
    max-height: 500px;
  }

  .MuiTable-root .MuiTableBody-root .MuiTableRow-root:hover{
    cursor: pointer;
    background-color: #F0F3F9;
  }

  .MuiTableHead-root .table-columns{
    color: #42454E;
    font-size: 12px;
    font-weight: 600;
    padding: 12px;
    line-height: 16px;
  }

  .MuiTableHead-root .table-columns:first-child{
    width: 25px;
  }

  .MuiTableHead-root .table-columns:nth-child(2){
    padding-right: 0px;
    padding-left: 0px;
  }

  .MuiTableHead-root .table-columns:nth-child(3){
    padding-left: 0px;
  }


  .MuiTableBody-root  .table-rows{
    color: #42454E;
    font-size: 12px;
    font-weight: normal;
    padding: 24px 16px 24px 16px;
    border-bottom: 1px solid #DFE3EB;
  }

  .MuiTableBody-root .table-rows:first-child{
    width: 50px;
    padding-left: 16px;
    padding-right: 0px;
  }

  .MuiTableBody-root .table-rows:nth-child(2){
    padding-left: 0px;
    .rake-id{
      text-decoration: underline;
      font-family: "Inter", sans-serif;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0px;
      color: #334FFC ;
      padding-bottom: 2px;
    }
  }

  .MuiTableBody-root .table-rows:nth-child(3){
    padding-left: 0px;
  }

  .MuiFormControl-root input{
    width: 106px;
    height: 24px;
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    padding: 0 4px 0 6px;
    font-size: 12px;
    color: #42454E;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }

  .my-label-class.my-label-class {
    transition: transform 0.2s ease-out, color 0.2s ease-out;
  }
  
  .MuiFormControl-root label.my-label-class.my-label-class {
    font-size: 12px;
    color: #42454E;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    position: absolute;
    left: 6px;
    top: 2px;
  }
  
  .MuiFormControl-root label.my-label-class.my-label-class {
    transform: translateY(5px);
    font-size: 10px;
    color: #888;
    line-height: 1em; 
    letter-spacing: 0.00938em;
  }

  .select-container .MuiFormControl-root .MuiInputBase-root .MuiSelect-select{
    width: 108px;
    height: 24px;
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    padding: 0 4px 0 6px;
    font-size: 12px;
    color: #42454E;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }

  .select-container .MuiFormControl-root .MuiInputBase-root .MuiSvgIcon-root {
    color: rgba(0, 0, 0);
    font-size: 1.3em;
  }
}


/* Child Modal Styles */

.child-dialog-styles {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.child-dialog-styles .child-dialog-container {
  position: relative;
  display: inline-block;
  border-radius: 12px !important;
  overflow-y: unset;
}

.child-dialog-styles .MuiDialog-container .MuiDialog-paper{
  border-radius: 12px !important;
  width: 100% !important;
  min-height: 40%;
  overflow-y: unset;
}


.child-dialog-styles .child-close-icon {
  position: absolute;
  top: -40px;
  right: -2px;
  cursor: pointer;
  z-index: 1000;
}

.child-dialog-styles .child-upper-containers {
  padding: 24px 32px 24px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .title {
    font-size: 16px;
    color: #42454E;
  }

  .number {
    font-size: 24px;
    color: #131722;
    font-weight: bold;
    padding-top: 6px;
  }
}

.child-dialog-styles .child-lower-container {
  background-color: #F8F8F8;
  padding: 24px;
  border-radius: 0 0 12px 12px;

  .MuiPaper-root{
    box-shadow: none;
    background-color: #fff;
    overflow: auto;
    border-radius: 12px;
    border: 1px solid #E9E9EB;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }
  
  .MuiPaper-root::-webkit-scrollbar {
    width: 0px;
  }

  .table-child-container{
    min-width: 500px !important;
    max-height: 450px;
  }

  .MuiTable-root .MuiTableBody-root .MuiTableRow-root:hover{
    cursor: pointer;
    background-color: #F0F3F9;
  }

  .MuiTableHead-root .table-columns{
    color: #42454E;
    font-size: 12px;
    font-weight: 600;
    padding: 12.5px 0px 12.5px 12px;
  }

  .MuiTableHead-root .table-columns:first-child{
    width: 30px;
    padding-left: 12px;
  }

  .MuiTableBody-root  .table-rows{
    color: #42454E;
    font-size: 12px;
    font-weight: normal;
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: 1px solid #DFE3EB;
  }

  .MuiTableBody-root .table-rows:first-child{
    width: 30px;
    padding-right: 0px;
    padding-left: 16px;
  }

  .MuiTableBody-root .table-rows:nth-child(2){
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-left: 12px;
    padding-right: 0px;
    letter-spacing: 0px;
    color: #44475B;
  }

  .MuiTableBody-root .table-rows:nth-child(3){
    padding-left: 6px;
  }

  .MuiFormControl-root input{
    width: 106px;
    height: 24px;
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    padding: 0 4px 0 6px;
    font-size: 12px;
    color: #42454E;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }

  .my-label-class.my-label-class {
    transition: transform 0.2s ease-out, color 0.2s ease-out;
  }
  
  .MuiFormControl-root label.my-label-class.my-label-class {
    font-size: 12px;
    color: #42454E;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    position: absolute;
    left: 6px;
    top: 2px;
  }
  
  .MuiFormControl-root label.my-label-class.my-label-class {
    transform: translateY(5px);
    font-size: 10px;
    color: #888;
    line-height: 1em;
    letter-spacing: 0.00938em;
  }

  .select-container .MuiFormControl-root .MuiInputBase-root .MuiSelect-select{
    width: 111px;
    height: 24px;
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    padding: 0 4px 0 6px;
    font-size: 12px;
    color: #42454E;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }

  .MuiSelect-icon  {
    color: rgba(0, 0, 0);
    font-size: 1.3em;
  }
}


@media screen and (max-width: 1240px) {
  .dialog-container {
    padding-right: 16px;
  }

  .lower-conatiner{
    padding: 16px;
  }
}


@media screen and (max-width: 1160px) {
  .dialog-container {
    padding-right: 12px;
    margin-top: 12px;

  }

  .lower-conatiner{
    padding: 12px;

    .table-parent-container{
      min-width: 500px !important;
    }

    .MuiTableHead-root .table-columns{
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .MuiTableBody-root  .table-rows{
      padding: 20px 16px 20px 16px;
    }

    .MuiFormControl-root input{
      width: 100px;
      height: 24px;
    }

    .select-container .MuiFormControl-root .MuiInputBase-root .MuiSelect-select{
      width: 100px;
      height: 24px;
    }

    .MuiTableBody-root .table-rows:first-child {
      padding-left: 10px;
      .rake-id{
      font-size: 12px;
    }
  }

    .MuiFormControl-root label.my-label-class.my-label-class {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 950px){
  .dialog-container {
    padding-right: 0px;
    margin-top: 12px;
  }

  .lower-conatiner{
    padding: 8px;

    .table-parent-container{
      min-width: 400px !important;
    }

    .MuiTableHead-root .table-columns{
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .MuiTableBody-root  .table-rows{
      padding: 16px 12px 16px 12px;
    }

    .MuiFormControl-root input{
      width: 90px;
      height: 24px;
    }

    .select-container .MuiFormControl-root .MuiInputBase-root .MuiSelect-select{
      width: 90px;
      height: 24px;
    }

    .MuiTableBody-root .table-rows:first-child {
      padding-left: 6px;
      .rake-id{
      font-size: 10px;
    }
  }

    .MuiFormControl-root label.my-label-class.my-label-class {
      font-size: 8px;
    }
  }

  .child-dialog-styles .child-upper-containers {
    padding: 20px 28px 20px 20px;

    .title {
      font-size: 14px;
    }
  
    .number {
      font-size: 22px;
    }
  }

  .child-dialog-styles .child-lower-container {
    padding: 22px;

    .MuiTableHead-root .table-columns{
      padding: 12px 0px 12px 24px;
    }

    .MuiFormControl-root input{
      width: 100px;
    }

    .select-container .MuiFormControl-root .MuiInputBase-root .MuiSelect-select{
      width: 106px;
    }
  }
}

@media screen and (max-width: 810px){
  .dialog-container {
    padding-right: 0px;
  }

  .lower-conatiner{
    padding: 8px;

    .table-parent-container{
      min-width: 300px !important;
    }

    .MuiTableHead-root .table-columns{
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .MuiTableBody-root  .table-rows{
      padding: 14px 8px 14px 8px;
    }

    .MuiFormControl-root input{
      width: 80px;
      height: 24px;
    }

    .select-container .MuiFormControl-root .MuiInputBase-root .MuiSelect-select{
      width: 80px;
      height: 24px;
    }

    .MuiTableBody-root .table-rows:first-child .rake-id{
      font-size: 10px;
    }

    .MuiFormControl-root label.my-label-class.my-label-class {
      font-size: 8px;
    }
  }

  .child-dialog-styles .MuiDialog-container .MuiDialog-paper{
    width: 70% !important;
    min-height: 30%;
  }

  .child-dialog-styles .child-upper-containers {
    flex-direction: column;
  }

  .child-dialog-styles .child-upper-containers {
    padding: 18px 24px 18px 18px;

    .title {
      font-size: 13px;
    }
  
    .number {
      font-size: 20px;
    }
  }

  .child-dialog-styles .child-lower-container {
    padding: 20px;

    .MuiTableHead-root .table-columns{
      padding: 10px 0px 10px 20px;
    }
  }
}

@media screen and (max-width: 768px){
  .child-dialog-styles .child-upper-containers {
    padding: 16px 20px 16px 16px;

    .title {
      font-size: 12px;
    }
  
    .number {
      font-size: 16px;
    }
  }

  .child-dialog-styles .child-lower-container {
    padding: 16px;

    .MuiTableHead-root .table-columns{
        padding: 8px 0px 8px 16px;
    }

    .table-child-container{
      min-width: 460px !important;
    }
  }
}

@media screen and (max-width: 680px){
  .child-dialog-styles .child-lower-container {

    .table-child-container{
      min-width: 320px !important;
    }
  }
}

@media screen and (max-width: 500px){
  .child-dialog-styles .child-lower-container {

    .table-child-container{
      min-width: 280px !important;
    }
  }
}

@media screen and (max-width: 418px){
  .child-dialog-styles .child-lower-container {

    .table-child-container{
      min-width: 200px !important;
    }
  }
}

@media screen and (max-width: 280px){
  .child-dialog-styles .child-lower-container {

    .table-child-container{
      min-width: 120px !important;
    }
  }
}


