#closeContaioner{
    background-color: white;
    height: 40px;
    width: 40px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 0;
    top: -50px;
    cursor: pointer;
    z-index: 1000;
    transition: all 1s ease-in-out;
}
#closeContaioner:hover{
    rotate: 180deg;
}
#fileUploadContainer{
    margin-top: 24px;
    height: 200px;
    border: 1.5px dashed #5481FF;
    border-radius: 12px;
    padding-top: 30px;
}
.sampleFile{
    color: #5481FF;
    font-weight:600;
    font-size: 12px;
    cursor: pointer;
    margin-top: 8px;
  }
  .sampleFile:hover{
    text-decoration: underline;
  }
.buttonContaioner{
    display: flex;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 40px;

}