.wagon-waybill-print-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    padding: 20px;
    background-color: #f5f5f5;
}

.wagon-waybill-a4-page {
    width: 297mm;
    height: 210mm;
    padding: 10mm;
    background: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.wagon-waybill-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 32px;
}

.wagon-waybill-header-section {
    margin-bottom: 15px;
    font-size: 12px;
}

.wagon-waybill-header-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 16px;
    gap: 20px;
}

.wagon-waybill-field-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.wagon-waybill-field-group label {
    max-width: 30%;
}

.wagon-waybill-field-group input {
    border: none;
    border-bottom: 1px solid #000;
    max-width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 4px;
    margin: 0;
}

.wagon-waybill-field-group input:focus {
    outline-color: #4CAF50;
}

.wagon-waybill-fixed-text {
    margin-right: 20px;
}

.wagon-waybill-to-label {
    margin-left: 20px;
}

.wagon-waybill-tables-container {
    display: flex;
    margin-top: 40px;
    margin-bottom: 32px;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    font-size: 10px;
}

.wagon-waybill-wagon-table {
    border-collapse: collapse;
    width: 100%;
}

.wagon-waybill-wagon-table th:first-child{
    width: 42px;
}

.wagon-waybill-wagon-table th,
.wagon-waybill-wagon-table td {
    border: 1px solid #000;
    padding: 5px 4px;
    text-align: left;
}

.wagon-waybill-wagon-table th {
    font-weight: bold;
}

.wagon-waybill-footer-section{
    margin-top: 16px;
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.wagon-waybill-print-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 10px 0;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.wagon-waybill-print-button:hover {
    background-color: #45a049;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

@media print {
    .page {
        page-break-after: always;
        margin: 0; 
        padding: 0; 
    }

    .wagon-waybill-print-container {
        padding: 0;
        gap: 0;
        margin: 0;
    }

    .wagon-waybill-a4-page {
        width: 297mm; /* Width for A4 in landscape */
        height: 210mm; /* Height for A4 in landscape */
        box-shadow: none;
        margin: 0;
        padding: 10mm;
    }

    .wagon-waybill-print-button {
        display: none; 
    }

    @page {
        size: A4 landscape; /* Set to landscape */
        margin: 0;
    }
}