.bottom_bar{
    width: 100%;
    background-color: #f0f3f9;
    position: fixed;
    bottom: 0;
    height: 65px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white; 
    border-radius: 10px solid pink !important;
}

.station-head{
    width: 92%;
    margin-left: 92px;
    margin-top: 56px;
}

@media (max-width: 599px){
    .station-head{
       margin-top: 0px;
       margin-left: 15px;
    }
}
