.etaDashboard-container {
  width: calc(100vw - 70px);
  height: calc(100vh - 56px);
  overflow-y: auto;
  padding: 12px;
  background-color: #fff;
}
.adjustMargin {
  margin-top: 56px;
  margin-left: 70px;
}
.adjustMarginMobile {
  width: 100vw;
  height: calc(100vh - 56px - 54px);
  margin-top: 56px;
}
#enRoutesEtaDelay {
  background-color: white;
  padding: 16px;
  border-radius: 10px;
}
#heading {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 400;
  color: #343743;
  font-weight: 600;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
#heading_reload {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delayedheader {
  /* background-color: red; */
  font-size: 12px;
  font-weight: 400;
  color: #50505b;
  margin-bottom: 4px;
}

.delayInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 400;
  color: #8b8c90;
  border: 1px solid #e9e9eb;
  border-radius: 6px;
  height: 40px;
  width: 178px;
  /* padding-left: 14px; */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.delayInfo:hover {
  scale: 1.05;
  background-color: #f0f3f8;
  border: none;
}
.delayInfoDigit {
  font-size: 18px;
  font-weight: 600;
  color: #42454e;
}
.delayedBox {
}

#etaDisplayContainer {
  /* background-color: blueviolet; */
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  flex-wrap: wrap;
  flex-direction: row;

}
.greenBackground:hover {
  background-color: #e6f7f2 !important;
}
.redBackground:hover {
  background-color: #f7eeef !important;
}
#delayModal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

/* ----------------------etaModal---------------------- */

#etaDashboradModalContainer {
  background-color: white;
  width: 80vw;
  height: 70vh;
  min-width: 750px;
  min-height: 600px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}
#etaDashboradModal {
  position: relative;
}

.closeContaioner {
  background-color: white;
  position: absolute;
  top: -65px;
  right: 0;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.7s ease-in-out;
}
.closeContaioner:hover {
  transform: rotate(180deg);
}
.header_drawnOut{
  min-width: 100px !important;
}
.header_rrDate{
  min-width: 100px !important;
}
.header_initialEta{
  min-width: 100px !important;
}
.header_finalEta{
  min-width: 100px !important;
}
.header_lastUpdated{
  text-wrap: nowrap;
  min-width: 100px !important;
}
.header_lastLocation{
  text-wrap: nowrap;
  min-width: 100px !important;

}
.header_remarks{
  text-wrap: nowrap;
  min-width: 100px !important;
}

.commodity-table{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  justify-content: center;
  margin-bottom: 16px;
  border-radius: 12px;
}