@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.map {
  z-index: 1;
}

/* MapsHelper Styles */
.map-container{
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  width: 100%;
}

.shipments-filter {
  margin-bottom: 10px;
  margin-top: 12px;
  gap: 10px;
  border-radius: 8px;
  background-color: white;
  padding: 10px;
  padding-left:14px;
}

.status_container {
  margin-top: 12px;
  margin-bottom: 18px;
}

.status_container .MuiFormControl-root .MuiInputBase-root .MuiSelect-select{
  padding: 6.5px 10px;
  font-size: 14px;
 }

 .status_container .MuiPaper-root .MuiList-root .MuiButtonBase-root{
   padding: 0px 8px 6px 6px !important;
   width: 160px;

 }

 .status_container .mui-10hburv-MuiTypography-root{
   font-size: 12px;
 }

.shipments-filter input {
  padding:5px;
  border: 1px solid lightgray;
  border-radius: 6px;
}
.shipments-filter input:hover {
  border: 1px solid grey;
}

.search-wrapper {
  margin-top:8px;
  position: relative;
}

.status_select {
  position:absolute;
  border-radius: 4px 0px 0px 4px;
  left: 1px;
}

.search-wrapper .search-input {
  width: 320px;
  padding: 6px 6px 7px 114px;
  outline: none; 
  border-radius: 6px;
}

.cluster-icon-tracking-mapshelper{
  background-color: #18BE8A;
  box-shadow: 0 0 0px 10px #18be8980;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
}

.cluster-icon-idle-mapshelper{
  background-color: #FF981A;
  box-shadow: 0 0 0px 10px #FF981A61;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
}

.mapshelper-sidebar-container{
  position: absolute;
  width: 424px;
  height:100%;
  background: white;
  left: 70px;
  top: 5%;
  overflow-x: auto;
  background-color: #F8F8F8;
  z-index: 1;
}


.tracking-details-container {
  width: 394px;
  height: 25%;
  margin-top: 38px;
  margin-left: 16px;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 8px 20px;
}

.tracking-details-container .hr-line {
  background-color: #E9E9EB;
  color: #E9E9EB;
  height: 1px;
  border-radius: 12px;
  width: 90%;
  margin: 0 auto;
}

.tracking-status {
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  width:100px;
  cursor: pointer;
  border-radius: 8px;
}

.tracking-status:first-child:hover {
  background-color: rgba(51, 79, 252, 0.1);
}

.tracking-status:nth-child(2):hover {
  background-color: rgba(24, 190, 138, 0.1);
}

.tracking-status:last-child:hover {
  background-color: rgba(230, 102, 123, 0.1);
}

.tracking-number{
  text-align: left;
  font-weight: bold;
  justify-content: center;
  display: flex;
  font-size: 24px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #42454E;
}

.tracking-text{
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #42454E;
  margin-top: 4px;
  justify-content: center;
  display: flex;
}

.tracking-heading{
  font-size: 16px;
  font-weight: 600;
  color: #42454E;
  padding: 20px 16px;
  font-family: "Inter", sans-serif;
}

#map-helpers .leaflet-right {
  right: 28px !important;
}

#map-helpers .leaflet-top {
  top: 180px !important;
}

#map-helpers .leaflet-left {
  left: 520px !important;
}

.idle-non-tracking-container{
  width: 394px;
  height: 75px;
  margin-top: 16px;
  margin-left: 16px;
  border-radius: 12px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 12px;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  .idle-non-tracking-indicator-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    padding-left: 24px;
    border-radius: 6px;
    padding: 8px;

    .idle-non-tracking-indicator-item{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 4px;
    }

    .idle-non-tracking-indicator-number{
      font-size: 16px;
      font-weight: 600;
      color: #131722;
      font-family: "Inter", sans-serif;
    }

    .idle-non-tracking-indicator-text{
      font-size: 12px;
      font-weight: 500;
      color: #131722;
      font-family: "Inter", sans-serif;
    }
  }

  .idle-non-tracking-indicator-container:first-child:hover{
    background-color: #FF98001F;
    cursor: pointer;
  }

  .idle-non-tracking-indicator-container:last-child:hover{
    background-color: #E6667B1F;
    cursor: pointer;
  }
}

.tracking-table-container{
  width: 394px;
  height: 100%;
  margin-top: 16px;
  margin-left: 16px;
  border-radius: 12px;
  background-color: #ffffff;
}

.MuiPaper-root{
  box-shadow: none;
  overflow: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.MuiPaper-root::-webkit-scrollbar {
  width: 0px;
}

.table-mapview-container{
  width: 100%;
  height: 320px;
  border-radius: 0px 0px 12px 12px;
}

.table-heads{
  color: #42454E !important;
  font-size: 12px;
  font-weight: 600;
  background-color: #F2F2F4 !important ;
  padding: 8px 6px;
}

.table-heads:first-child{
  padding-left: 12px;
}

.table-mapview-container .MuiTable-root .MuiTableBody-root .MuiTableRow-root:hover{
  cursor: pointer;
  background-color: #F0F3F9;
}

.captive-rake-rows{
  font-size: 12px;
  color: #42454E;
  font-family: "Inter", sans-serif;
  padding: 20px 6px;
}

.captive-rake-rows:first-child{
  padding-left: 16px;
}

.mapButtons {
  position: absolute;
  top: 10%;
  right: 8%;
  z-index: 10;
  width: 30%;
  justify-content: space-around;
  display: flex !important;
  flex-direction: row !important;
}

.mapButtons label {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 4px;
  padding-left: 12px;
  box-shadow: 0px 2px 10px #0000001A;
}

/* Shipment map styles */
.shipment-map-container{
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.shipment-details {
  display: flex;
  position: absolute;
  height: 55px;
  background: white;
  z-index: 2;
  border-radius: 11px;
  color: black;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  box-shadow: 0px 2px 10px #0000001A;
}

.cluster-icon-idle {
  background-color: #3351ff;
  box-shadow: 0 0 0px 10px #3351ff80;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
}

.cluster-icon-in-transit {
  background-color: #FF981A;
  box-shadow: 0 0 0px 10px #FF981A61;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
}

.cluster-icon-delivered {
  background-color: #18BE8A;
  box-shadow: 0 0 0px 10px #18be8980;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
}


.removePadding {
  padding: 0 !important;
}

.title {
  font-size: 16px;
}
.value {
  font-size: 20px;
}

.bottom_bar{
  width: 100%;
  background-color: #f0f3f9;
  position: fixed;
  bottom: 0;
  height: 65px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: white;
}

#shipment-map .leaflet-right {
  right: 36px !important;
}

#shipment-map .leaflet-top {
  top: 110px !important;
}

#shipment-map .leaflet-left {
  left: 460px !important;
}

.cardHover :hover {
  cursor: pointer;
  background-color: #f0f3f9;
}

.cardHover{
  font-family: "Inter", sans-serif !important;
}

.shipment-heads {
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 20px;
  gap: 10px;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 15px;
  height: 218px;
  position: sticky;
}

.tracking-nonTracking-status{
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap:16px
}

.tracking-nonTracking-status input {
  padding:5px;
  border: 1px solid lightgray;
  border-radius: 4px;
  /* width:'23%'; */
}
.tracking-nonTracking-status input:hover {
  border: 1px solid grey;
}

.tracking_firstSection{
  display: flex;
  align-items: center;
  flex: 1;
  height: 55px;
  border-radius: 6px;
  padding-left: 8px;
  gap:4px;
  cursor: pointer;
}
.tracking_firstSection:hover{
  background-color: #FF98001F;
}

.tracking_secondSection{
  display: flex;
  align-items: center;
  flex: 1;
  height: 55px;
  border-radius: 6px;
  padding-left: 8px;
  gap:4px;
  cursor: pointer;
}
.tracking_secondSection:hover{
  background-color: #E6667B1F;
}

.fnr-count{
  font-size: 10px;
  margin-left: 8px;
  color: #7C7E8C;
  cursor: pointer;
  position: relative;
}

.extraFnr-indicator{
  position: relative;
}

.more-fnr-indicator{
  position: absolute;
  background-color: #42454E !important;
  color: #fff;
  border-radius: 4px;
  padding: 4px;
  top: 0;
  left: 6px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  font-size: 10px;
  max-height: 100px;
  overflow-y: auto;
}

.extraFnr-indicator:hover .more-fnr-indicator{
  visibility: visible;
  opacity: 1;
}
.each-fnr:hover{
  background-color: #42454E;
}

.date-range-container-heads{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  background-color: white;
  margin-top: 30px;
  position: sticky;
}

.date-range-divider{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f0f3f9;
  padding: 3px;
  border: 1px solid #f0f3f9;
  cursor: pointer;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.date-range-divider:hover{
  background-color: #f0f3f901;
}

.shipment-head-lists {
  padding: 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.shipment-head-list-texts{
  font-family: "Inter", sans-serif !important;
}

#chip-label{
  font-family: "Inter", sans-serif !important;
}

.shipment-head-lists:first-child{
  background-color: #333333;
}

.shipment-head-lists:nth-child(2){
  background-color: #3790cc;
}

.shipment-head-lists:nth-child(3){
  background-color:  #FF981A;
}

.shipment-head-lists:last-child{
  background-color: #18be8a;
}

.shipment-list-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  font-family: "Inter", sans-serif !important;
}

#shipment-list-fnr{
  font-family: "Inter", sans-serif !important;
}

#shipment-list-bottom{
  font-family: "Inter", sans-serif !important;
}

.tracking-indication{
  position: absolute;
  top: 11px;
  right: -30px;
  background-color: green;
  color: white;
  padding: 3px;
  font-size: 10px;
  width: 100px;
  text-align: center;
  transform: rotate(46deg);
}

.non-tracking-indication{
  position: absolute;
    top: 15px;
    right: -28px;
    background-color: red;
    color: white;
    padding: 3px;
    font-size: 10px;
    width: 100px;
    text-align: center;
    transform: rotate(46deg);
}

.shipment-head-lists:hover{
  cursor: pointer;
}

.non-tracking-indication:hover{
  cursor: pointer;
  font-weight: 600;
  color: red;
  background-color: rgba(355, 0, 0, 0.2);
}

.tracking-indication:hover{
  cursor: pointer;
  font-weight: 600;
  color: green;
  background-color: #18be8a80;
}

.shipment-details-container{
  max-height: calc(75vh - 400px) !important;
  overflow-y: scroll; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  }
  
.shipment-details-container::-webkit-scrollbar {
    width: 0px;
}


@media screen and (max-width: 1140px){
  .shipment-heads{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 400px;
  }
}

