.shipment-details-container{
  flex:1;
  overflow-y: scroll !important; 
  scrollbar-width: none; 
  /* padding-inline: 12px; */
  margin-block: 12px;
  /* box-shadow: inset 0 6px 6px -6px rgba(0, 0, 0, 0.5),inset 0 -6px 6px -6px rgba(0, 0, 0, 0.5);  */
}
.card-sudo-element::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-top: 5px solid #42454E; 
}
.extraFnr-indicator{
  position: relative;
}
.extraFnr-indicator:hover .more-fnr-indicator{
  visibility: visible;
  opacity: 1;
}
.fnr-count{
  font-size: 10px;
  margin-left: 8px;
  color: #7C7E8C;
  cursor: pointer;
  position: relative;
}
.more-fnr-indicator{
  position: absolute;
  background-color: #42454E !important;
  color: #fff;
  border-radius: 4px;
  padding: 4px;
  top: 0;
  left: 6px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  font-size: 10px;
  max-height: 100px;
  overflow-y: auto;
}
.each-fnr:hover{
  background-color: #42454E;
}
.shipment-map-container{
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}
.map {
  z-index: 1;
}
#shipment-map .leaflet-right {
  right: 36px !important;
}

#shipment-map .leaflet-top {
  top: 110px !important;
}

#shipment-map .leaflet-left {
  left: 460px !important;
}
.dropLabel{
  background-color: red;
  color: white;
  height: 16px !important;
  width: 16px !important;
  display: inline;
  border-radius: 50% !important;
  align-content: center;
  text-align: center;
  font-size: 10px;
  margin-top: 2px;
  margin-right: 4px;
}

.dropdown-option {
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  color: #131722;
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}

.dropdown-no-options {
  padding: 8px 12px;
  color: #999;
}

.card-sudo-element::after{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-top: 5px solid #42454E; 
}
/* 
#total{
  background-color: #ECEFFF;
  color: #334FFC;
  border-radius: 8px;
  padding-inline: 8px;
  padding-block: 3px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
#total-hover:hover{
  background-color: #ECEFFF;
  color: #334FFC;
  border-radius: 8px;
  padding-inline: 8px;
  padding-block: 3px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
#inpl{
  background-color: #F4FCFC;
  color:#174D68;
  border-radius: 8px;
  padding-inline: 8px;
  padding-block: 3px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
#inpl-hover:hover{
  background-color: #F4FCFC;
  color:#174D68;
  border-radius: 8px;
  padding-inline: 8px;
  padding-block: 3px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
#itns{
  background-color: #FEF3E7;
  color: #F69805;
  border-radius: 8px;
  padding-inline: 8px;
  padding-block: 3px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
#itns-hover:hover{
  background-color: #FEF3E7;
  color: #F69805;
  border-radius: 8px;
  padding-inline: 8px;
  padding-block: 3px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
} */

#total, #inpl, #itns {
  /* background-color: #ecefff; */
  /* color: #334ffc; */
  border-radius: 8px;
  padding-inline: 8px;
  padding-block: 6px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

/* #inpl {
  background-color: #f4fcfc;
  color: #174d68;
}

#itns {
  background-color: #fef3e7;
  color: #f69805;
} */

/* Hover States */
#total:hover{
  background-color: #d3e1ff;
  color: #1d38b8;
  transform: scale(1.05);
}
#inpl:hover{
  background-color: #e3f7f7;
  color: #123f55;
  transform: scale(1.05);
}
#itns:hover {
  background-color: #fdebd0;
  color: #d87b03;
  transform: scale(1.05);
}

/* Active State */
#total.active {
  background-color: #d3e1ff;
  color: #1d38b8;
}

#inpl.active {
  background-color: #e3f7f7;
  color: #123f55;
}

#itns.active {
  background-color: #fdebd0;
  color: #d87b03;
}
