.wrapper {
  margin: 56px 0 0 76px;
}

.tabs {
  font-size: 20px;
}

.rail-overview-container {
  display: flex;
}

.rail-leftsection {
  width: 28vw;
}

.rail-rightsection {
  width: 70vw;
}

.rail-right-popup {
  display: flex;
  justify-content: center;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}
.filterdrop-wrapper {
  display: flex;
}

.dropdown {
  margin-right: 16px;
}

.help-btn {
  background: #f8f8f8;
  color: #42454e;
  height: 36px;
  width: 130px;
  margin-right: 24px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 0 8px;
  cursor: pointer;
}

.help-btn:hover {
  background: #2e2d32;
  color: #ffffff;
}

.date-picker-dashboard {
  height: 36px;
  width: 128px;
}

.tabpanel-container {
  padding: 20px 0px 0px 0px !important;
}

@media screen and (max-width: 950px){
  .tabpanel-container {
    padding: 0px !important;
  }
}

@media screen and (max-width: 600px){
  .wrapper {
    margin: 12px 0 0 6px;
  }
  
  .tabpanel-container {
    padding: 0px !important;
  }
}

