/* Parent Modal Styles */
.dialog-styles{
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.dialog-styles .dialog-container {
  position: relative;
  display: inline-block;
  border-radius: 12px !important;
  overflow-y: unset;
  height: 100%;
}

.dialog-container {
  position: relative;
  display: inline-block;
  border-radius: 12px !important;
  overflow-y: unset;
}

.dialog-styles .MuiDialog-container .MuiDialog-paper{
  border-radius: 12px !important;
  max-width: 1019px !important;
  min-height: 600px !important;
  overflow-y: unset;
}

.dialog-styles .upper-container{
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.upper-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dialog-styles .close-icon{
  position: absolute;
  top: -40px;
  right: -2px;
  cursor: pointer;
  z-index: 1000;
}

.dialog-styles .upper-containers {
  padding: 24px 32px 24px 24px;

  .title {
    font-size: 16px;
    color: #42454E;
  }
  .number {
    font-size: 28px;
    color: #131722;
    font-weight: bold;
    padding-top: 6px;
  }
  .description {
    font-size: 14px;
    color: #71747A;
    padding-left: 14px;
    padding-top: 28px;
  }
  .row {
    display: flex;
    flex-direction: row;

    .sub-title {
      font-size: 12px;
      color: #42454E;
    }

    .sub-number {
      font-size: 16px;
      color: #131722;
      font-weight: bold;
    }
    
    .sub-number-top {
      font-size: 16px;
      color: #131722;
      font-weight: bold;
      padding-top: 4px;
    }
  }
}

.upper-containers {
  padding: 24px 8px 24px 4px;

  .title {
    font-size: 16px;
    color: #42454E;
  }
  .number {
    font-size: 28px;
    color: #131722;
    font-weight: bold;
    padding-top: 6px;
  }
  .description {
    font-size: 14px;
    color: #71747A;
    padding-left: 14px;
    padding-top: 28px;
  }
  .row {
    display: flex;
    flex-direction: row;

    .sub-title {
      font-size: 12px;
      color: #42454E;
    }

    .sub-number {
      font-size: 16px;
      color: #131722;
      font-weight: bold;
    }
    
    .sub-number-top {
      font-size: 16px;
      color: #131722;
      font-weight: bold;
      padding-top: 4px;
    }
  }
}

.dialog-styles .lower-conatiner{
  background-color: #F8F8F8;
  padding: 24px;
  border-radius: 0 0 12px 12px;

  .table-container{
    border: 1px solid #DFE3EB;
    border-radius: 12px;
  }

  .MuiTable-root .MuiTableBody-root .MuiTableRow-root:hover{
    cursor: pointer;
    background-color: #F0F3F9;
  }

  .MuiTableHead-root .table-columns{
    color: #42454E;
    font-size: 12px;
    font-weight: 600;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
  }

  .MuiTableBody-root  .table-rows{
    color: #42454E;
    font-size: 12px;
    font-weight: normal;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 18px;
    border-bottom: 1px solid #DFE3EB;
  }

  .MuiTableBody-root .table-rows:first-child{
    text-align: center;
    text-decoration: underline;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #334FFC;
  }

  .MuiFormControl-root input{
    width: 106px;
    height: 24px;
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    padding: 0 4px 0 6px;
    font-size: 12px;
    color: #42454E;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }

  .my-label-class.my-label-class {
    transition: transform 0.2s ease-out, color 0.2s ease-out;
  }
  
  .MuiFormControl-root label.my-label-class.my-label-class {
    font-size: 12px;
    color: #42454E;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    position: absolute;
    left: 6px;
    top: 2px;
  }
   
  .MuiFormControl-root label.my-label-class.my-label-class{
    transform: translateY(5px);
    font-size: 10px;
    color: #888;
    line-height: 1em; 
    letter-spacing: 0.00938em;
  }

  .select-container .MuiFormControl-root .MuiInputBase-root .MuiSelect-select{
    width: 111px;
    height: 24px;
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    padding: 0 4px 0 6px;
    font-size: 12px;
    color: #42454E;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }

  .select-container .MuiFormControl-root label {
    font-size: 12px;
    color: #42454E;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    position: absolute;
    left: 6px;
    top: 2px;
  }

  .select-container .MuiFormControl-root .MuiInputBase-root .MuiSvgIcon-root {
    color: rgba(0, 0, 0);
    font-size: 1.3em;
  }
}

.lower-conatiner{
  background-color: #F8F8F8;
  padding: 24px;
  /* border-radius: 0 0 12px 12px; */

  .table-container{
    border: 1px solid #DFE3EB;
    border-radius: 12px;
  }

  .MuiTable-root .MuiTableBody-root .MuiTableRow-root:hover{
    cursor: pointer;
    background-color: #F0F3F9;
  }

  .MuiTableHead-root .table-columns{
    color: #42454E;
    font-size: 12px;
    font-weight: 600;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    line-height: 20px;
  }

  .MuiTableBody-root  .table-rows{
    color: #42454E;
    font-size: 12px;
    font-weight: normal;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 18px;
    border-bottom: 1px solid #DFE3EB;
  }

  .MuiTableBody-root .table-rows:first-child{
    padding-left: 20px;
    .rake-id{
      text-decoration: underline;
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0px;
      color: #334FFC ;
      padding-bottom: 2px;
    }
  }

  .MuiFormControl-root input{
    width: 106px;
    height: 24px;
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    padding: 0 4px 0 6px;
    font-size: 12px;
    color: #42454E;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }

  .my-label-class.my-label-class {
    transition: transform 0.2s ease-out, color 0.2s ease-out;
  }
  
  .MuiFormControl-root label.my-label-class.my-label-class {
    font-size: 12px;
    color: #42454E;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    position: absolute;
    left: 6px;
    top: 2px;
  }
  
  .MuiFormControl-root label.my-label-class.my-label-class {
    transform: translateY(5px);
    font-size: 10px;
    color: #888;
    line-height: 1em; 
    letter-spacing: 0.00938em;
  }

  .select-container .MuiFormControl-root .MuiInputBase-root .MuiSelect-select{
    width: 111px;
    height: 24px;
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    padding: 0 4px 0 6px;
    font-size: 12px;
    color: #42454E;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }

  .select-container .MuiFormControl-root .MuiInputBase-root .MuiSvgIcon-root {
    color: rgba(0, 0, 0);
    font-size: 1.3em;
  }
}


/* Child Modal Styles */

.child-dialog-styles {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.child-dialog-styles .child-dialog-container {
  position: relative;
  display: inline-block;
  border-radius: 12px !important;
  overflow-y: unset;
}

.child-dialog-styles .MuiDialog-container .MuiDialog-paper{
  border-radius: 12px !important;
  max-width: 750px !important;
  min-height: 620px !important;
  overflow-y: unset;
}


.child-dialog-styles .child-close-icon {
  position: absolute;
  top: -40px;
  left: -2px;
  cursor: pointer;
  z-index: 1000;
}

.child-dialog-styles .child-upper-containers {
  padding: 24px 32px 24px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .title {
    font-size: 16px;
    color: #42454E;
  }

  .number {
    font-size: 24px;
    color: #131722;
    font-weight: bold;
    padding-top: 6px;
  }
}

.child-dialog-styles .child-lower-container {
  background-color: #F8F8F8;
  padding: 24px;
  border-radius: 0 0 12px 12px;

  .table-container{
    border: 1px solid #DFE3EB;
    border-radius: 12px;
  }

  .MuiTable-root .MuiTableBody-root .MuiTableRow-root:hover{
    cursor: pointer;
    background-color: #F0F3F9;
  }

  .MuiTableHead-root .table-columns{
    color: #42454E;
    font-size: 12px;
    font-weight: 600;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 26px;
  }

  .MuiTableHead-root .table-columns:first-child{
    padding-right: 0px;
  }

  .MuiTableHead-root .table-columns:nth-child(2){
    padding-right: 0px;
    padding-left: 0px;
  }

  .MuiTableHead-root .table-columns:last-child{
    padding-right: 60px;
  }

  .MuiTableBody-root  .table-rows{
    color: #42454E;
    font-size: 12px;
    font-weight: normal;
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: 1px solid #DFE3EB;
  }

  .MuiTableBody-root .table-rows:first-child{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-left: 28px;
    padding-right: 0px;
    letter-spacing: 0px;
    color: #44475B;
  }

  .MuiTableBody-root .table-rows:nth-child(2){
    padding-left: 40px;
    padding-right: 0px;
  }

  .MuiTableBody-root .table-rows:last-child{
    padding-left: 42px;
  }

  .MuiFormControl-root input{
    width: 106px;
    height: 24px;
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    padding: 0 4px 0 6px;
    font-size: 12px;
    color: #42454E;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }

  .my-label-class.my-label-class {
    transition: transform 0.2s ease-out, color 0.2s ease-out;
  }
  
  .MuiFormControl-root label.my-label-class.my-label-class {
    font-size: 12px;
    color: #42454E;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    position: absolute;
    left: 6px;
    top: 2px;
  }
  
  .MuiFormControl-root label.my-label-class.my-label-class {
    transform: translateY(5px);
    font-size: 10px;
    color: #888;
    line-height: 1em;
    letter-spacing: 0.00938em;
  }

  .select-container .MuiFormControl-root .MuiInputBase-root .MuiSelect-select{
    width: 111px;
    height: 24px;
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    padding: 0 4px 0 6px;
    font-size: 12px;
    color: #42454E;
    font-weight: 600;
    font-family: "Inter", sans-serif;
  }

  .MuiSelect-icon  {
    color: rgba(0, 0, 0);
    font-size: 1.3em;
  }
}
