.whatsApp-notify-container {
  /* min-height: 100vh; */
  /* max-height: 100%; */
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to bottom right, #e6fffa, #e6f7ff); */
  padding: 1rem;
  align-items: center;
}

.whatsApp-notify-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  width: 100%;
  max-width: 500px;
}

.whatsApp-notify-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4CAF50;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  letter-spacing: 0.3px;
  justify-content: flex-start;
}

.whatsApp-notify-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.whatsApp-notify-label {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.whatsApp-notify-inputGroup {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.whatsApp-notify-indexLabel {
  margin-right: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #4CAF50;
}

.whatsApp-notify-input {
  flex: 1;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.whatsApp-notify-removeButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 16px;
  cursor: pointer;
}

.whatsApp-notify-addButton {
  background: none;
  border: 1px dashed #4CAF50;
  color: #4CAF50;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.whatsApp-notify-submitButton {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  margin-top: 1rem;
}

.whatsApp-notify-error {
  color: red;
  font-size: 12px;
  margin-top: 10px;
  white-space: pre-wrap;
}

.whatsApp-notify-inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 24px;
  max-height: 250px; 
  overflow-y: auto;
  scrollbar-width: thin; 
}

.whatsApp-notify-inputContainer::-webkit-scrollbar {
  width: 12px;
}

.whatsApp-notify-inputContainer::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.whatsApp-notify-inputContainer::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}