/* 

.tab{
    .active{
        color : blue;
        font-weight: bold;
    }

}

.MuiGrid-container{
    margin: 0px;
    padding: 0px;
}

.MuiGrid-item {
    text-align: center;
}

.MuiTabs-root {
    text-transform: none !important;
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5; 
    border-top: 1px solid #e0e0e0; 
  }
  
  .MuiTabs-indicator {
    background-color: #007bff;
  }
  
  .MuiTab-root {
    text-align: center;
    display: flex;
    justify-content: space-between;
  }
  
  .MuiTab-root.Mui-selected {
    font-weight: bold;
  }

  .MuiTabs-root.MuiTabs-scrollButtons {
    flex-wrap: wrap;
  }
  
  .MuiIconButton-root {
    margin-right: 10px;
  }
   */