#pageInsideContent{
    height: calc(100vh - 56px);
    width: calc(100vw - 70px);
    margin-top: 56px;
    overflow: hidden;
    margin-left: 70px;
    position: relative;
}
#search-container-assign-hooks{
    padding-top: 24px;
    display: flex;
    justify-content: flex-start;
    padding: 24px 24px 0px 24px;
    flex-direction: row;
    align-items: start;
}

.search-container-assign-title{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    padding-left: 24px;
}

.shipment-details-container{
    /* width: 96%; */
    /* margin: 24px 24px 0px 24px; */
    padding: 0px 0px 16px 32px;
    border-bottom: 1px solid #e9eef2;
  }

#filtersForHooksAssignToLoadingShop{
    margin-inline: 24px;
    display: flex;
    gap:12px;
    margin-top: 20px;
}
#selectAPlant{
    position: relative;
}
#selectAPlantLabel{
    font-size: small;
}
#dropdownForPlantsMaincontainer{
    font-size: 12px;
    font-weight: 400;
    margin-top: 4px;
    height: 40px;
    width: 156px;
    border-radius: 6px;
    border: 1px solid #E9EEF2;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 6px;
    padding-left: 10px;
    padding-right: 2px;
}
#dropdownListForplants{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #E9EEF2;
    margin-top: 8px;
    font-size: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 156px;
}

.count-hookwise {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 500;
    gap: 42px;
    color: #3C4852;
}

.count-hookwise b {
    color: #000000;
    font-size: 16px;
}

.badge-hook {
    position: absolute;
    background: #000;
    color: white;
    border-radius: 100%;
    font-size: 12px;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    align-items: center;
    top: 110%;
}

.dropdownListForPlantsEachItem{
    padding-inline: 10px;
    padding-block: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdownListForPlantsEachItem:hover{
    background-color: #E9EEF2;
    cursor: pointer;
}

.wagon-connector-icon {
    position: absolute;
    right: -4%;
    bottom: 0;
    transform: translateY(-2px);
}

.wagonAssignToMillConatiner{
    height: 50px;
    width: 145px;
    /* background-color: burlyswood; */
    display: flex;
    gap:8px
}
.wagonsAssignToMillImageSelectorConatainer{
    height: 100%;
    width: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}
.wagonsAssigntoMillCheckedIcon{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    position: absolute;
    top:3px;
    left: 1px;
}
.wagonsAssignToMillImageSelector{
    height: 40px;
    width: 48px;
    border-radius: 6px;
    border: 1px solid #B7BAC3;
    background-color: #F8F9FD;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wagonsAssignToMillTextArea{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    position: relative;
    width: 80px;
}
#wagonsAssignToMillAssignedPlantName{
    font-size: 9px;
    font-weight: 400;
    color: #3D4852;
    text-wrap: nowrap;
    overflow-x: visible;
}
#wagonsAssignToMillNumber{
    font-size: 12px;
    font-weight: 600;
}
#wagonsAssignToMilltype{
    font-size: 10px;
    font-weight: 400;
}
#wagonListContainer{
    margin-top: 24px;
    margin-inline: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    grid-template-rows: repeat(auto-fill,minmax(50px, auto)); 
    grid-auto-rows: minmax(50px, auto);
    grid-auto-flow: column; 
    column-gap: 32px;
    row-gap: 20px;
    max-height: calc(100vh - 50vh);
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-bottom: 16px;
  }
#hooksFilter{
    position: relative;
}
#dropdownListForHooks{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #E9EEF2;
    margin-top: 8px;
    font-size: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 156px;
}
#addButtonContainerForHooks{
    display: flex;
    justify-content:end;
    padding: 6px;
    
}
#addButtonForHooks{
    background-color: #DADFF9;
    width:fit-content;
    color: #3856FE;
    padding: 6px 12px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}
#status-for-assign-sheet-hooks{
    border-radius: 12px;
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media screen and (max-width: 1024px) {
      width: 60%;
    }

    @media screen and (max-width: 882px) {
      width: 70%;
    }

    @media screen and (max-width: 768px) {
      width: 90%;
    }
}
.removeIcon-container-loading-shop{
    background-color: #E24D65;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.confirm-dialog-styles{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.confirm-dialog-styles .MuiDialog-container .MuiDialog-paper{
  border-radius: 12px !important;
  width: 40vw !important;
  height: 20vh !important;
  overflow-y: unset;
}

.confirm-dialog-styles .confirm-dialog-container {
  position: relative;
  display: inline-block;
  border-radius: 12px !important;
  overflow-y: unset;
}

.confirm-dialog-styles .confirm-close-icon {
  position: absolute;
  top: -40px;
  right: -2px;
  cursor: pointer;
  z-index: 1000;
}

.confirm-dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.confirm-dialog-buttons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 0 16px;
}

.confirm-dialog-buttons-container .confirm-button{
    background-color: #3856FE;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.confirm-dialog-buttons-container .cancel-button{
    background-color: #fff;
    color: #3D4852;
    border: 1px solid #3D4852;
    padding: 8px 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.confirm-dialog-buttons-container .confirm-button:hover{
    background-color: #2B3DBF;
    cursor: pointer;
}

.confirm-dialog-buttons-container .cancel-button:hover{
    background-color: #E9EEF2;
    cursor: pointer;
}

#buttonContainerHooks{
    position: sticky;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    padding: 16px 24px;
    box-shadow: 0px -2px 8px 0px #0000000F;
}