.custom-div-icon {
  border-radius: 50%;
  /* border: 1px solid white; */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
}

.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.route-settings-container {
  width: 100%;
  background-color: #fff;
}

.route-settings-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.route-settings-title {
  font-size: 20px;
  font-weight: 600;
  color: #454E5D;
}

.route-settings-add-button {
  outline: none;
  padding: 10px 16px;
  background: #3351FF;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.route-settings-add-button:hover {
  cursor: pointer;
  background: #334FFC;
  scale: 1.05;
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(51, 81, 255, 0.2);
}

.route-settings-body {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.route-settings-table-wrapper {
  background: #fff;
  width: 58%;
}

.route-settings-map-view {
  width: 42%;
  height: 100%;
  border-radius: 6px;
  border: 1px solid #DFE3EB;

}

.route-settings-table-container {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-radius: 6px;
  border: 1px solid #DFE3EB;

  &::-webkit-scrollbar {
    width: 0px;
  }
}

.route-settings-table-head {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

.route-settings-table-head th {
  font-weight: 600;
  color: #333;
  border-bottom: 1px solid #DFE3EB;
}

.route-settings-table .MuiTableCell-root {
  padding: 12px 16px !important;
}

.route-settings-table .MuiTableCell-root:nth-child(2),
.route-settings-table .MuiTableCell-root:nth-child(3),
.route-settings-table .MuiTableCell-root:nth-child(4) {
  min-width: 120px;
  width: 120px;
  max-width: 120px;
}

.route-settings-table .MuiTableHead-root .MuiTableCell-root {
  font-weight: 600 !important;
  color: #333 !important;
  border-bottom: 1px solid #DFE3EB !important;
}

.route-settings-table .MuiTableHead-root .table-columns {
  color: #42454E;
  font-size: 12px;
  font-weight: 600;
  padding: 12px;
  line-height: 14px;
  border-bottom: 1px solid #DFE3EB;
}

.route-settings-table .MuiTableHead-root .table-columns:first-child {
  width: 60px;
}

.route-settings-table .MuiTableBody-root .table-rows {
  color: #42454E;
  font-size: 12px;
  font-weight: normal;
  padding: 24px 16px 24px 16px;
  border-bottom: 1px solid #DFE3EB;
  word-break: break-word;
}

.route-settings-table .MuiTableCell-root .table-rows:last-child {
  border-bottom: none;
}

.route-settings-table .MuiTableBody-root .table-rows:hover {
  cursor: pointer;
  background-color: #F0F3F9;
}

.routes-settings-dialog-styles {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.routes-settings-dialog-styles .MuiDialog-container .MuiDialog-paper {
  position: relative;
  border-radius: 12px !important;
  min-height: 56%;
  overflow-y: unset;
  width: 70vw !important;
  max-width: 70vw !important;
}

.routes-settings-dialog-styles .routes-settings-dialog-container {
  position: relative;
  display: inline-block;
  border-radius: 12px !important;
  overflow-y: unset;
  width: 70vw !important;
  max-width: 70vw !important;
  background-color: white;
}

.routes-settings-dialog-styles .routes-settings-close-icon {
  position: absolute;
  top: -40px;
  right: -2px;
  cursor: pointer;
  z-index: 1000;
}

.routes-settings-dialog-body{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.routes-settings-dialog-title{
  font-size: 20px;
  font-weight: 600;
  color: #000;
  padding-left: 24px;
}


.routes-settings-dialog-footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  margin-top: 16px;    
  margin-right: 24px;
}

.routes-settings-dialog-footer-confirm-button{
  outline: none;
  padding: 10px 16px;
  background: #3351FF;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.routes-settings-dialog-footer-confirm-button:hover{
  cursor: pointer;
  background: #334FFC;
  scale: 1.05;
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(51, 81, 255, 0.2);
}

.routes-settings-dialog-footer-cancel-button{
  outline: none;
  padding: 10px 16px;
  background: #DFE3EB;
  border-radius: 6px;
  color: #71747A;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}   

.routes-settings-dialog-footer-cancel-button:hover{
  cursor: pointer;
  background: #DFE3EB;
  scale: 1.05;
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(51, 81, 255, 0.2);
}   

/* Custom Autocomplete Dropdown */

.routes-settings-autocomplete-dropdown {
  position: relative;
  width: 100%;
}

.routes-settings-autocomplete-dropdown label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #333;
}

.routes-settings-autocomplete-dropdown input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 13px;
}

.routes-settings-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 4px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.routes-settings-dropdown-header {
  padding: 8px 12px;
  background: #f9f9f9;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
}

.routes-settings-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

.routes-settings-dropdown-item {
  padding: 10px 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.routes-settings-dropdown-item:hover {
  background: #f1f1f1;
}

.routes-settings-dropdown-item:active {
  background: #ddd;
}

.routes-settings-dialog-form{
  width: 100%;
  padding: 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.routes-settings-display-routes{
  display: flex;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid #DFE3EB;
  padding: 8px 12px;
  width: 95%;
  margin: 0 24px;
}

.routes-settings-display-routes-left-contents{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 12px;
  border-right: 1px solid #DFE3EB;
}

.routes-settings-display-routes-left-content{
  display: flex;
  flex-direction: column;
}

.routes-settings-display-routes-left-content-title{
  font-size: 12px;
  font-weight: 600;
  color: #333;
  margin-bottom: 4px;
}

.routes-settings-display-routes-left-content-value{
  font-size: 14px;
  height: 24px;
  font-weight: 500;
  color: #42454E;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.routes-settings-display-routes-right-contents{
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 12px;
}

.routes-settings-display-routes-right-content{
  display: flex;
  flex-direction: column;
}

.routes-settings-display-routes-right-content-title{
  font-size: 12px;
  font-weight: 600;
  color: #333;
  margin-bottom: 4px;
}

.routes-settings-display-routes-right-content-value{
  width: 100%;
  height: calc(150px - 32px);
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow-y: auto;
}

.routes-settings-display-routes-right-content-value-container{
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.routes-settings-display-routes-right-content-value-index{
  font-size: 13px;
  font-weight: 500;
  color: #42454E;
}

.routes-settings-display-routes-right-content-value-delete{
  width: 16px;
  height: 16px;
  transition: all 0.3s ease;
  display: flex;
}

.routes-settings-display-routes-right-content-value-delete:hover{
  cursor: pointer;
  scale: 1.05;
}