.wagon-tally-container {
    display: flex;
}

.wagon-tally-container .wagon-wrapper {
    margin: 56px 0 0 70px;
    width: calc(100vw - 70px);
}

.wagon-tally-container .wagon-wrapper .search-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.wagon-tally-container .wagon-wrapper .search-container .input-wrapper {
  width: 360px;
  position: relative;
}

.wagon-tally-container .wagon-wrapper .search-container .input-wrapper .icon {
  position: absolute;
  top:8px;
  left:16px;
}

.wagon-tally-container .wagon-wrapper .search-container .input-wrapper .input{
  height: 40px;
  width: 360px;
  padding: 4px 16px 4px 56px;
  border-radius: 6px;
  border: 1px solid #E9EEF2;
  outline: none;
  color: #71747A;
}