.wrapper {
    margin: 56px 0 0 70px;
}

.tabs {
    font-size: 20px;
}

.filter-bar{
 display: flex;
 justify-content: space-between;
 margin-top: 26px;
}
.filterdrop-wrapper {
 display: flex;
}

.dropdown {
    margin-right: 16px;
}

.help-btn {
    background: #F8F8F8;
    color: #42454E;
    height: 36px;
    width:130px;
    margin-right:24px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}