.remarks_dropDown_list{
    width: 50%;
    position: absolute;
    top: 45px;
    border: 1px solid #bbbbbf ;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.remarks_dropDown_list_item{    cursor: pointer;
    font-size: 12px;
    padding-top: 2px;
    padding-left: 8px;
}

.remarks_dropDown_list_item:hover{
  background-color: #f5f5f5;
}

.arrow_down_icon{
    position: absolute;
    right: 25px;
    top: 25px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.button-style {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: rgb(224, 223, 223);
    position: absolute;
    top: -40px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }

.modal_body{
    
   position: relative;
   width: 100vh;
   height: 100vh;
   background-color: yellowgreen;
   top:0;
   left:0;
}

#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
  }

  #Modal {
    /* Your existing modal styles */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    /* No need for positioning here */
  }

  .close-button {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #E9E9EB;
    position: absolute;
    top: -40px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .close-icon {
    transition: transform 0.3s ease-in-out;
  }
  
  .close-icon.hovered {
    transform: rotate(90deg);
  }

  .remarks_update{
    background-color: #E9E9EB;
    font-size: 14px;
    padding: 2px 4px ;
    cursor: pointer;
  }

  .captiveInput{
    width: 100%;
    background-color: #E9E9EB;
    font-size: 14px;
    height: 24px;
    cursor: pointer;
  }

  .captive_list_box{
    width: 60%;
    position: absolute;
    top: 45px;
    border: 1px solid #bbbbbf ;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-height: 300px;
    overflow-y: auto;
}

.captive_list_item{
  font-size: small;
  padding: 4px 8px 1px 8px;
cursor: pointer;
display: flex;
justify-content:flex-start

}
.captive_list_item:hover{
  background-color: #E9E9EB;
}

.remark_hidden_list{
  background-color:white;
  font-size: 11px;
  border-radius: 4px;
  box-shadow:  0 2px 4px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 10px;
  top: 18px;
  z-index: 100000000000;
}

.remark_list_item{
  padding: 2px 8px 1px 8px;
}

.arrow_down_icon_captive{
  position: absolute;
  top: 16px;
  right: 26px;
}

.refreash_reload{
  position: absolute;
  text-wrap: nowrap;
  right: 2px;
  top:25px;
  background-color: #E9E9EB;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 4px;
  opacity: 0;
}

.fnr_container{}

/* .material_items{
  position: relative;
} */
.view_more_materials{
  position: relative;
  width: 16px !important;
  height: 16px !important;
  background-color:#484A57;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.list_of_materials{
  background-color: #484A57;
  position: absolute;
  top: 0px;
  right: 20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  font-size: 10px;
  /* padding: 2px 4px; */
  border-radius: 4px;
  min-width: 120px;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.2);
}
.view_more_materials:hover .list_of_materials{
  visibility: visible;
  opacity: 1;
  z-index: 10;
}
.aging_dot{
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.material_item{
  padding: 2px 4px;
}
.material_item:hover{
  background-color: #bbbbbf;
  color: #484A57;
}
.view_more_agents{
  background-color: #313134;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  color: aliceblue;
  text-align: center;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer
}
.handlingAgentColume{
  position: relative;
  display: flex;
  flex-direction: row;
  gap:4px
}
.list_of_agents{
  position: absolute;
  background-color: #555659;
  top: 23px;
  right: 3px;
  color: #fff;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.handlingAgentColume:hover .list_of_agents{
  visibility: visible;
  opacity: 1;
}
.agent_item{
  padding-top: 2px !important;
  font-size: 10px;
  padding-inline: 2px;
}
.agent_item:hover{
  background-color: #bbbbbf;
  color: #0d0e0f;
}

.agent_item:first-child:hover {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.agent_item:last-child:hover {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.button_style{
  background-color: aqua;
}
.closeContaioner{
  background-color: white;
  position: absolute;
  top: -54px;
  right: 0;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.7s ease-in-out;
}
.closeContaioner:hover{
  transform: rotate(180deg);
}

.buttonContaioner{
  position: absolute;
  display: flex;
  bottom: 25px;
  right: 25px;
  gap: 20px;
}
.buttonMarkPlacement:hover{
  scale: 0.95;
}
.status_edemand_fnr{
  width: 100%;
  background-color: #F2F6FF;
  border-radius: 12px;
  height: 100px;
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.fileUploadContainer{
  margin-top: 24px;
  /* background-color: aqua; */
  height: 200px;
  border: 1.5px dashed #5481FF;
  border-radius: 12px;
}
.fileUpload{
  /* background-color: #42454E; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer
}
#input-file{
  display: hidden;
}
.fileUploadContent{
  display: flex;
  flex-direction:column;
  justify-content: center;
  width: 50%;
}
.sampleFile{
  color: #5481FF;
  font-weight:600;
  font-size: 12px;
  cursor: pointer;
  margin-top: 8px;
}
.sampleFile:hover{
  text-decoration: underline;
}
.contactModal{
  width: 880px;
    /* height: 34vh; */
    background-color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    padding: 24px;
  /* min-width: 450px; */
  /* min-height: 515px; */
  height: 401px;
}
#contactModalHeader{
  font-size: 18px;
  font-weight: 500;
  color: #131722;
  margin-bottom: 20px;
}
#labelName{
  font-size: 12px;
  font-weight: 400;
  color: #42454E;
  margin-bottom: 8px;
}
#stationNameInput{
  width: 190px;
  height: 36px;
  border: 1px solid #DFE3EB;
  border-radius: 4px;
  font-size: 14px;
  color: #858585;
  font-weight: 400;
  align-content: center;
  padding-left: 10px;
}
#formContainer{
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 10px;
  margin-bottom: 24px;
}
#commentContainer{
  margin-bottom: 24px;
}
#commentInput{
  width: 100%;
  margin-top: 8px;
  border: none;
  resize: vertical;
  outline: none;
  font-family: inherit;
  font-size: 12px;
  padding-inline: 10px;
  min-height: 64px;
}
.star-rating {
  display: flex;
  font-size: 2em;
}

.star {
  color: gray;
  transition: color 0.2s;
}

.star.selected {
  color: gold;
}
#submit-btn{
  background-color: #5481FF;
  color: white;
  border-radius: 4px;
  padding: 10px 18px;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-weight: 500;
  align-content: center;
  text-align: center;
}
#btnContainer{
  margin-top: 24px;  
  position: absolute;
  bottom: 0;
  right: -3px;
}
#submit-btn:hover{
  background-color: #3351FF;
  scale: 0.99;
}
#stationName{
  position: relative;
}
#stationDropDown{
  position: absolute;
  width: 202px;
  z-index: 1;
  background-color: white;
  font-size: 12px;
  top:60px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  max-height: 140px;
  overflow-y: auto;
}
#stationNameItem{
  padding: 12px 16px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
#stationNameItem:hover{
  background-color: #E9E9EB;
}
#loaderForStationName{
  position: absolute;
  top:28px;
  right: 11px;
  z-index: 1;

}
#toggle-btn-container{
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 12px;
  width: fit-content;
  gap: 8px;
  border-radius: 4px;
  background-color: #F4F8FF;
  border: 1px solid #DFE3EB;
  display: flex;
  transition: all 0.3s ease-in-out;
  /* box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.15); */
  align-items: center;
  padding-inline: 8px;
  padding-block: 6px;
  cursor: pointer;
}
#toggle-btn-container:hover{
  background-color: #3A32FF;
  color: white;
}
#toggle-btn{

}
#containorOldcontact{
  margin-top: 25px;
  display: flex;
  /* gap:10px; */
  @media screen and (max-width: 1200px) {
    display: block;
  }
}
#listAreaOfOldConatcts{
  width: 190px;
  max-height: 304px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth; 
  margin-right: 5px;
  @media screen and (max-width: 1200px) {
    width: 100% ;
    max-height: 180px;
  }
}
#divider{
  width: 1px;
  background-color: #DFE3EB;
  @media screen and (max-width: 1200px) {
    display: none;
  }
}
#addInfoArea{
  margin-left: 24px;
  width: 75%;
  @media screen and (max-width: 1200px) {
    width: 100% ;
  }
}
#boxContainer{
  font-size: 12px;
  height: 36px ;
  /* background-color: yellow; */
  margin-bottom: 24px;
  display: flex;
  gap:12px;
  align-items: center;
  /* border: 1px solid #E9E9EB; */
  border-radius: 8px;
  cursor: pointer;
}
#image-name-rate-Conatainer{
  height: 36px;
  width: 36px !important;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #E9E9EB;
  color: #42454E;
  text-align: center;
  align-content: center;
  border-radius: 10px;
}
#contactName{
  color: #42454E;
  font-size: 14px;
  font-weight: 500;
  margin-top: 4px;
}
#contactNumber{
  color: #7C7E8C;
  font-weight: 400;
  width: 80px;
}
#dividerHorizontal{
  width: 100%;
  height: 0.5px;
  background-color: #DFE3EB;
  /* margin-block: 20px; */
  margin-top: 20px;
  margin-bottom: 10px;
}
#btnContainerOldContact{
  display: flex;
  gap: 36px;
  /* margin-top: 10px; */
  @media screen and (max-width: 1200px) {
    /* display: block; */
    gap: 10px;
  }
}
#btnContainerOldContactInner{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap:4px;
}