.edemand{
    /* background-color:blueviolet !important; */
    min-width:120px !important;
}

.fnr{
    /* background-color: cadetblue !important; */
    min-width: 130px !important; 
    color: #484A57 !important;
    
}
.inner_fnr{
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    width:90px !important;
    padding: 0 4px;
    text-align: center;

}
.destination{
    /* background-color: antiquewhite!important; */
    min-width: 87px !important;
}
.material{
    /* background-color: cornflowerblue!important; */
    min-width: 88px !important;
}

.pickupdate{
    /* background-color: chocolate!important; */
    min-width: 70px !important;
    /* display: flex !important;
    flex-direction: row !important; */
    text-wrap: nowrap;
}
.inner_pickup{
    /* background-color: chocolate!important; */
    display: flex !important;
    flex-direction: row !important;
    gap: 10px;
}

.inner_eta{
    display: flex !important;
    flex-direction: row !important;
    gap: 10px;
}

.ownedby{
    /* background-color: darkslateblue!important; */
    min-width: 60px !important;
}

.status{
    /* background-color: darksalmon!important; */
    max-width: 150px !important;
    min-width: 75px !important;
}
.inner_status{
    /* background-color: aqua !important; */
    display: flex;
    gap:24px;
    width: 150px;
    align-items: center;
}
.fois{
    background-color: #E24D65;
    width: 42px;
    height:20px;
    border-radius: 10px;
    padding: 3px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.inner_fois{
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
}

.fois_label{
    color: white;
    font-size:8px;
}

.initialETA{
    /* background-color: darkseagreen!important; */
    min-width: 90px !important;
}
.currentEta{
    /* background-color: yellow!important; */
    min-width: 90px !important;
    text-wrap:nowrap;
}
.deliverDate{
    /* background-color: darkslateblue!important; */
    min-width: 90px !important;
}
.remarks{
    /* background-color: darkslategray!important; */
    min-width: 86px !important;
}
.handlingAgent{
    /* background-color: wheat!important; */
    min-width: 120px !important;

}

.action{
    /* background-color: turquoise!important; */
    min-width: 60px !important;
    text-align: center !important;  
    padding-right: 10px !important; 

}
.iconheader{
    /* background-color: tomato!important; */
   /* padding-left: 50px !important; */
/* width: 60px !important; */
}
.inner_iconheader{
    /* background-color: #E24D65 !important; */
    position: relative;
}
.inner_iconheader_before{
    background-color:white;
    position: absolute;
    right: 0;
    height: 35px;
    width: 120px;
    border : 1px solid #E9E9EB;
    display: flex;
    justify-content
    :start;
    align-items: center;
}



/* -------------------------------- */

.body_edemand{
    /* background-color: #E24D65 !important; */
}

.body_fnr{
    /* background-color:yellow !important; */
    padding-right: 10px !important;

}
.body_destination{
    /* background-color:violet !important; */
    padding-right: 10px !important;
    max-width: 150px;
}
.body_material{
    /* background-color:darkcyan !important; */
}
.body_pickupdate{
    /* background-color: burlywood !important; */
}
.body_ownedby{
    /* background-color: aquamarine !important; */
    padding-right:10px !important;
    text-align: center !important;
}
.body_status{
    /* background-color:cadetblue !important; */
    padding-right: 10px !important;
}
.body_initialETA{
    /* background-color:#334FFC !important; */
}
.body_currentEta{
    /* background-color: brown !important; */
}
.body_remarks{
    /* background-color: burlywood !important; */
    padding-right: 10px !important;
}
.body_handlingAgent{
    /* background-color: wheat !important; */
}
.body_action{
    /* background-color: turquoise !important; */
   padding-inline:auto !important;
  
   

}



.fnr_inner_inner_num{
    color: #334FFC;
    font-weight: 500;
    text-decoration: underline;
    font-size: 14px;
}

.fnr_inner_inner_count{
    height: 16px;
    width: 16px;
    background-color: #334FFC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}
.fnr_inner_inner_data{
    display: flex !important;
    flex-direction: row !important;
    gap:6px !important;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 12px;
}
.fnr_inner_inner_nachoes{
    color: #44475B;

}
.all_Pnr_count{
    background-color: #3350FC;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    font-size: 9px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.show_Allfnr{
    background-color: transparent;
    width: 80px;
    position: absolute;
    z-index: 1
    ;
    top: 0px;
    left: 0px;
    border-radius: 4px;
    
    font-size: 10px;
    /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); */

}

.contain_fnr{
    background-color: #3350FC;
    margin-top: 20px;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.fnr_inner_data{
    display: flex !important;
    gap:5px;
    justify-content:flex-start !important;
    
}


.status_title{
    height: 20px;
    width: 72px;
    background-color: #FF98001F;
    color: #FF9800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status_title_In_Transit{
    height: 20px;
    width: 72px;
    background-color: #FF98001F;
    color: #FF9800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status_title_Delivered{
    height: 20px;
    width: 72px;
    background-color: #90dcc4;
    color: #0e9167;
    display: flex;
    justify-content: center;
    align-items: center;
}
.status_title_In_Plant{
    height: 20px;
    width: 72px;
    background-color: #334FFC1F;
    color: #334FFC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status_body{
    font-size: 12px;
}

.action_icon{
    background-color: #0168FF !important;
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 24px;
    padding: 0;
    border-radius: 4px;
    width:24px;
    position: relative;
}

.action_button_target {
    position: absolute;
    /* background-color: rgb(110, 208, 115); */
   
    right: 33px;
    top: -52px;
    z-index: 100 !important;
   
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: none; /* Hide by default */
    background-color: white;
    width: max-content;
}

.action_button_target.show {
    opacity: 1;
    transform: scale(1);
    display: block;
}

.status_container {
    max-width: 150px;
}


.edemand_fois_gpis{
    /* background-color: #7C7E8C; */
   
    margin-top: 8px;
    display: flex;
    flex-direction: row;


    
    /* display: grid;
    grid-template-columns: auto auto; */
    row-gap: 6px;
  }
  .action_button_options{
   display: flex;
   flex-direction: column;
  
    
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .action_items{
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    padding-inline: 8px;
    padding-block: 2px;
  
  }

  .action_items:hover{
    background-color:  #E9E9EB;
  }

  .custom-placeholder {
    width: 82px;
    height: 22px;
    border: none;
    text-align: center;
    font-size: 12px;
    color: #484A57;
    font-weight: bold;
    outline: none;
  }