.edemand {
    min-width: 120px !important;
    padding-left: 10px !important;
}

.fnr {
    min-width: 130px !important;
    color: #484A57 !important;
    padding-inline: 20px !important;
}

.inner_fnr {
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    width: 90px !important;
    padding: 0 4px;
    text-align: center;
}

.destination {
    max-width: 170px !important;
    min-width: 150px !important;
    text-wrap: nowrap !important;
    padding-inline: 20px !important;
}

.eld {
    min-width: 130px !important;
    padding-inline: 20px !important;
    line-height: 20px !important;
}

.aging {
    padding-left: 36px !important;
    padding-right: 48px !important;
}

.material {
    padding-inline: 10px !important;
    min-width: 130px !important;
}

.pickupdate {
    min-width: 100px !important;
    text-wrap: nowrap;
    padding-inline: 20px !important;

}

.inner_pickup {
    display: flex !important;
    flex-direction: row !important;
    gap: 10px;
}

.inner_eta {
    display: flex !important;
    flex-direction: column !important;
    position: relative;
}

.ownedby {
    min-width: 60px !important;
}


.status {
    max-width: 150px !important;
    min-width: 100px !important;
    padding-inline: 10px !important;
}

.fois {
    background-color: #E24D65;
    width: 42px;
    height: 20px;
    border-radius: 10px;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner_fois {
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
}

.fois_label {
    color: white;
    font-size: 8px;
}

.initialETA {
    min-width: 90px !important;
}

.currentEta {
    min-width: 120px !important;
    text-wrap: nowrap;
    /* background-color: #0168FF !important; */
    line-height: 20px !important;
    padding-inline: 15px !important;
}

.deliverDate {
    min-width: 90px !important;
    text-wrap: nowrap;
    padding-inline: 25px !important;
}

.remarks {
    min-width: 86px !important;
    padding-inline: 20px !important;
}

.handlingAgent {
    /* background-color: wheat!important; */
    min-width: 120px !important;

}

.action {
    /* background-color: turquoise!important; */
    min-width: 60px !important;
    text-align: center !important;
    padding-right: 10px !important;

}

.upload-annexure-close {
    position: absolute;
    top: 0;
    left:200px;
  }

.iconheader {}

.inner_iconheader {
    position: relative;
}

.inner_iconheader_before {
    background-color: white;
    position: absolute;
    right: 0;
    height: 35px;
    width: 120px;
    border: 1px solid #E9E9EB;
    display: flex;
    justify-content: start;
    align-items: center;
}



/* -------------------------------- */
.body_edemand {}

.body_fnr {
    padding-inline: 25px !important;
}

.body_destination {
    max-width: 150px;
    padding-inline: 25px !important;
}

.body_material {
    max-width: 180px !important;
    padding-inline: 15px !important;
}

.body_aging {
    text-wrap: nowrap;
    padding-left: 36px !important;
    padding-right: 48px !important;
}

.body_ownedby {
    padding-right: 10px !important;
    text-align: center !important;
}

.body_status {
    padding-right: 10px !important;
    max-width: 150px !important;
    min-width: 130px !important;
}

.body_pickupdate {
    padding-inline: 25px !important;
}

.body_remarks {
    padding-inline: 20px !important;
}

.body_action {
    padding-inline: auto !important;
}

.body_deliveryDate {
    padding-inline: 26px !important;
}

.body_eld {
    padding-inline: 25px !important;
}



.fnr_inner_inner_num {
    color: #334FFC;
    font-weight: 500;
    text-decoration: underline;
    font-size: 14px;
}

.fnr_inner_inner_count {
    height: 16px;
    width: 16px;
    background-color: #334FFC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.fnr_inner_inner_data {
    display: flex !important;
    flex-direction: row !important;
    gap: 6px !important;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 12px;
}

.fnr_inner_inner_nachoes {
    color: #44475B;

}

.all_Pnr_count {
    background-color: #3350FC;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    font-size: 9px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.show_Allfnr {
    background-color: transparent;
    width: 80px;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    border-radius: 4px;

    font-size: 10px;
    /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); */

}

.contain_fnr {
    background-color: #3350FC;
    margin-top: 20px;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.fnr_inner_data {
    display: flex !important;
    gap: 5px;
    justify-content: flex-start !important;
    margin-top: 8px;
}


.status_title {
    background-color: #FF98001F;
    color: #FF9800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status_title_In_Transit {
    background-color: #FF98001F;
    color: #FF9800;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin-bottom: 6px;
}

.status_title_Delivered {
    height: 25px;
    background-color: #18BE8A1F;
    color: #18BE8A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}

.status_title_rfd {
    padding-top: 2px;
    background-color: #f19f241f;
    color: #ffb727;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status_resize {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    max-height: 40px !important;
    max-width: 120px !important;
    overflow: hidden;
}

.status_title_In_Plant {
    height: 25px;
    /* width: 72px; */
    background-color: #334FFC1F;
    color: #334FFC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status_body {
    font-size: 12px;
    min-width: 140px !important;
}

.action_icon {
    background-color: #0168FF !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    padding: 0;
    border-radius: 4px;
    /* width: 24px; */
    position: relative;
}

.action_button_target {
    position: absolute;
    /* background-color: rgb(110, 208, 115); */

    right: 33px;
    top: -52px;
    z-index : 999999999 !important;

    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: none;
    /* Hide by default */
    background-color: white;
    width: max-content;
}

.action_button_target.show {
    opacity: 1;
    transform: scale(1);
    display: block;
}

.status_container {
    max-width: 130px;
}


.action_button_options {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.action_items {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    padding-inline: 8px;
    padding-block: 2px;

}

.action_items:hover {
    background-color: #E9E9EB;
}

.custom-placeholder {
    width: 82px;
    height: 22px;
    border: none;
    text-align: center;
    font-size: 12px;
    color: #484A57;
    font-weight: bold;
    outline: none;
}

.fois_gps_logo {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.no_of_wagons {
    margin-top: 8px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fnr_logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.request_wagons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    position: relative;
}

.request_wagons_logo {
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.request_wagons:hover .hover_req {
    opacity: 1;
    visibility: visible;
}

.request_image {
    height: 100%;
    width: 100%;
}

.ArrowUpwardIcon {
    color: #00B275;
    position: absolute;
    top: 6px
}

.divider_wagons {
    height: 16px;
    width: 1px;
    background-color: #E9E9EB;
    margin-inline: 4px;
}

.ArrowDownwardIcon {
    color: #334FFC;
    position: absolute;
    top: 6px
}

.hover_req {
    position: absolute;
    background-color: #00B275;
    color: white;
    text-wrap: nowrap;
    width: 106px;
    height: 20px;
    text-align: center;
    font-size: 10px;
    padding-block: 2px;
    border-radius: 4px;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.received_wagons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    position: relative;
}

.hover_rece {
    position: absolute;
    background-color: #314FFC;
    color: white;
    text-wrap: nowrap;
    width: 106px;
    height: 20px;
    text-align: center;
    font-size: 10px;
    padding-block: 2px;
    border-radius: 4px;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.received_wagons:hover .hover_rece {
    opacity: 1;
    visibility: visible;
}

.no_shipments_found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: calc(100vw - 120px);
    font-family: "Plus Jakarta Sans";
}
.mui-1ncgey5-MuiTableContainer-root {
    margin-top: 10px !important;
}
.body_currentEta{
    padding-left: 20px !important;
}