

/* CSS */
.date-range-container {
    height: 36px;
    width: 242px;
    border-radius: 4px;
    border: 1px solid #E9E9EB;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.date-range-container .date-icon {
    color: #7C7E8C;
}

.date-range-container .date-text {
    font-size: 14px;
    color: #7C7E8C;
}

/* CSS */
.custom-container {
    height: 36px;
    width: 134px;
    border-radius: 4px;
    border: 1px solid #E9E9EB;
    display: flex;
    padding-inline: 12px;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.custom-text {
    font-size: 14px;
    color: #7C7E8C;
}

.custom-icon {
    color: #7C7E8C;
}

/* CSS */
.upload-container {
    height: 36px;
    width: 134px;
    border-radius: 4px;
    border: 1px solid #E9E9EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.upload-icon {
    color: #7C7E8C;
}

.upload-text {
    font-size: 14px;
    color: #7C7E8C;
}

/* CSS */
.filter-container {
    height: 36px;
    width: 36px;
    border-radius: 4px;
    border: 1px solid #E9E9EB;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.filter-icon {
    color: #7C7E8C;
}

  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    position:absolute;
    z-index: 1000000;
    left:850px;
    bottom: 0;
    
  }

  

  .status_container .MuiFormControl-root .MuiInputBase-root .MuiSelect-select{
   padding: 6.5px 10px;
   font-size: 14px;
  }

  .status_container .MuiPaper-root .MuiList-root .MuiButtonBase-root{
    padding: 0px 8px 6px 6px !important;
  }

  .status_container .mui-10hburv-MuiTypography-root{
    font-size: 12px;
  }
  .box {
    height: 35px;
    width: 91px;
    font-size: 12px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding: 0px 8px 0px 7px;
    justify-content: space-between;
    cursor: pointer;
    background: rgb(233, 233, 233);
  }