

/* CSS */
.date-range-container {
    height: 36px;
    width: 242px;
    border-radius: 4px;
    border: 1px solid #E9E9EB;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.date-range-container .date-icon {
    color: #7C7E8C;
}

.date-range-container .date-text {
    font-size: 14px;
    color: #7C7E8C;
}

/* CSS */
.custom-container {
    height: 36px;
    width: 134px;
    border-radius: 4px;
    border: 1px solid #E9E9EB;
    display: flex;
    padding-inline: 12px;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.custom-text {
    font-size: 14px;
    color: #7C7E8C;
}

.custom-icon {
    color: #7C7E8C;
}

/* CSS */
.upload-container {
    height: 36px;
    width: 134px;
    border-radius: 4px;
    border: 1px solid #E9E9EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}

.upload-icon {
    color: #7C7E8C;
}

.upload-text {
    font-size: 14px;
    color: #7C7E8C;
}

/* CSS */
.filter-container {
    height: 36px;
    width: 36px;
    border-radius: 4px;
    border: 1px solid #E9E9EB;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;;
}

.active {
    background-color: #0168FF;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.filters-wrapper {
    display: grid;
    grid-template-columns: 220px 220px;
    cursor: pointer;
}

.modal-filter-header {
  font-size: 16px;
  font-weight: bold;
  padding: 8px 20px 0 0;
}

.filters-wrapper input {
    padding:4px;
    margin-top: 24px;
    margin-right: 10px;
}

.filter-icon {
    color: #7C7E8C;
}

.filter-modal-footer {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: right;
  width: 480px;
  right: 30px;
}

.close-icon {
    cursor: pointer;

}

.filter-modal-footer button {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    width: 84px;
}

.filter-modal-footer button:first-child{
    background: none;
    color: #7C7E8C;
    border: none;
    margin-right: 12px;
}

.filter-modal-footer button:last-child{
    background: #0168FF;
    color: #ffffff;
    
}

  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    position:absolute;
    z-index: 1000000;
    left:850px;
    bottom: 0;

  }

  
.modal-wrapper {
    display: flex;
    position: relative;
    align-items: center;
    top: calc(50vh - 160px);
    left: calc(50vw - 240px);
}

.modal-header {
    justify-content: space-between;
    width: 450px;
    display: flex;
}

.modal-container {
    height:280px;
    width: 480px;
    box-shadow: 0px 2px 10px #0000001A;
    border-radius: 8px;
    position: fixed;
    background: #ffffff;
    z-index:1002;
    padding: 16px;
    margin-left: -70px;
}

.overlay-container {
    height: 100vh;
    width: 100vw;
    
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

@media screen and (max-width: 600px) {
    .modal-container{
        width: 80vw;
    }
    .modal-header{
        width: 74vw;
    }

    .filters-wrapper {
       display: flex;
       flex-direction: column;
    }

}


  

  .status_container .MuiFormControl-root .MuiInputBase-root .MuiSelect-select{
   padding: 6.5px 10px;
   font-size: 14px;
  }

  .status_container .MuiPaper-root .MuiList-root .MuiButtonBase-root{
    padding: 0px 8px 6px 6px !important;
  }

  .status_container .mui-10hburv-MuiTypography-root{
    font-size: 12px;
  }
  .map-view-btn-orders {
    height: 35px;
    width: 90px;
    font-size: 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0px 8px 0px 7px;
    justify-content: center;
    cursor: pointer;
    background: white;
    border: 1px solid rgba(128, 128, 128, 0.3);
    flex-direction: row;
    /* margin-left: 20px; */
    background-color: #fff;
    border: 1px solid #E9E9EB;
    gap:4px
  }
  .search{
    border: 1px solid #E9E9EB;
    top: 115px;
    width: 250px;
    height: 315px;
    background: #FFFFFF;
    border-radius: 4px;
    opacity: 1;
    z-index: 3000;
    position: absolute;
  }
  .search-container {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;

}
.search-label{
    display: block;
    text-align: left;
    color: #42454E;
    font-size: medium;
    font-size: 12px;
    height: 15px;
    margin-top: 20px;
}
.search-group{
    border: 1px solid #DFE3EB;
    border-radius: 4px;
    opacity: 1;
    width: 200px ;
    height: 36px;
    margin-top: 3px;
    box-sizing: border-box;
    outline: none;
    padding-left: 3px;
}
.search-action{
    display: flex;
    padding:10px;
}

.search-trigger{
    display: flex;
    justify-content: space-between;
    padding: 12px 32px 0px 32px;
    align-items: center;
}

.search-trigger button{
    width: 80px;
    height: 36px;
    border-radius: 4px;
    border: none;
    opacity: 1;
    border: 1px solid #DFE3EB;
}
.search-trigger button:first-child{
    background: #334FFC;
    color: #FFFFFF;
    cursor: pointer;
}
.search-trigger button:nth-child(2){
    margin-left: 25px;
    background-color: white;
    color:#0168FF;
    cursor: pointer;
}
#filterContainer{
    gap: 20px;
    @media screen and (max-width: 1200px) {
        gap:16px
    }
}