.content_container_settings {
  width: calc(100% - 70px);
  height: calc(100% - 56px);
  overflow-y: auto;
}

.adjustMargin {
  margin-top: 56px;
  margin-left: 70px;
}

.adjustMarginMobile {
  width: 100vw;
  height: calc(100vh - 56px - 54px);
  margin-top: 56px;
}

#settings-container{
  display: flex;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  position: relative;
}

#left-section{
  width: 20%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 14px;
  padding-inline: 20px;
  padding-block: 20px;
}

.activeOptionSettings{
  font-size: 14px;
  font-weight: 500;
  background-color: #3351FF;
  color: white;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 10px;
  transition: all 0.3s ease-in-out;
}

.activeOptionSettings:hover{
  cursor: pointer;
}

.normalOptionSettings{
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 10px;
}

.normalOptionSettings:hover{
  cursor: pointer;
  background-color: #F2F6FF;
}

#right-section{
  width: 80%;
  border-left: 1px solid #DFE3EB;
  overflow-y: scroll;
  padding: 24px;
  scroll-behavior: smooth;
  position: relative;
  transition: opacity 0.3s ease-in-out;
}